.container-desc{
    position: relative;
    width: 100%;
}




/* .sidebar-link:hover{
    color:#6dd1d1;
} */


/* .sidebar-link.current {
  font-size: 35px; 
} */



.scroll-bar {
    position: absolute;
    top: 0;
    left: 98%;
    height: 0;
    width: 2%;
    background-color: #bac596;
    transition: width 0.2s ease-out, left 0.2s ease-out;
}

.wrapper-left:hover .scroll-bar {
    height: 100%;
}






