.myPage-experiments-button {
    position: relative;
    padding-left: 30px; /* 调整图案与文字之间的距离 */
}

.myPage-experiments-button::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px; /* 图案的宽度 */
    height: 10px; /* 图案的高度 */
    background-color: #000; /* 图案的颜色 */
    border-radius: 50%; /* 图案为圆形，可根据需要调整形状 */
}

.myPage-experiments-button.clicked::before {
    /* 更改图案样式，例如更改颜色 */
    background-color: red;
}
.myPage{
    font-family: Aaargh!important;
}
/*复用*/
.accordion .panel {
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0 0 40px 10px;
}
.accordion .panel-heading {
    padding: 0;
    border-radius: 30px;
}
.accordion .panel-title a {
    display: block;
    padding: 12px 20px 12px 50px;
    background: #cec3ed;
    font-size: 25px;
    color: #534f7a;
    border: 1px solid transparent;
    border-radius: 30px;
    position: relative;
    transition: all 0.3s ease 0s;
    text-align: left;
    text-decoration: none;
}
.accordion .panel-title a.collapsed {
    background: repeating-linear-gradient(45deg, #534f7a, #534f7a 2px, #534f7a 2px, #534f7a 3px);
    color: #cec3ed;
    border: 1px solid #e9defa;

}

.accordion .panel-title a.expanded {
    background: #cec3ed; /* 示例的深绿色背景 */
    color: #534f7a; /* 文字颜色 */
    border: 1px solid #9f78b7; /* 边框颜色 */
}

/*打开*/
.accordion .panel-title a:after,
.accordion .panel-title a.collapsed:after {
    content: "";
    background: url("https://static.igem.wiki/teams/5136/little-icon/zhedie.png");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Aaargh;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    font-size: 25px;
    /* color: skyblue; */
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    position: absolute;
    top: -5px;
    left: -20px;
    transition: all 0.3s ease 0s;
}
/**/
/*关闭*/
.accordion .panel-title a.collapsed:after {
    background: url("https://static.igem.wiki/teams/5136/little-icon/zhedie.png");
    background-size: 100%;
    color: steelblue;
    /* border: 1px solid lightblue; */
    box-shadow: none;
}
.accordion .panel-body {
    padding: 20px 25px 10px 9px;
    background: transparent;
    border-top: none;
    position: relative;
    text-align: justify;
    font-family: chocolates;
}
.accordion .panel-body a {
    text-decoration: none;
    color: #534f7a;
    font-size: 24px!important;
}
.accordion .panel-body p {
    font-size: 24px;
    padding-left: 25px;
    border-left: 3px dashed #534f7a;
    color: #534f7a;
    line-height: 2em;

}
.accordion .panel-body img{
    width: 100%;
    margin: 1vw auto;
}
.downloadpdf:after {
    content: url("https://static.igem.wiki/teams/4195/wiki/web-picture/background/background/shrimp-open.png");
    font-family: Harding;

}
@media (min-width: 768px) {
    .col-md-6 {
        width: 90% !important;
    }
}
.container {
    margin-right: auto;
    margin-left: auto
}
@media screen and (max-width: 45rem) {
    .container {
        width: 90vw;
    }
    .accordion .panel-title a {
        padding: 8px 20px 8px 50px;
        font-size: 14px;
    }
    .accordion .panel-title a:after,
    .accordion .panel-title a.collapsed:after {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .accordion .panel-body {
        padding: 5px 0px 5px 9px;
    }
    .accordion .panel-body p {
        font-size: 12px;
    }
    table {
        margin: 8px 0;
    }
}
@media screen and (min-width: 45.0625rem) and (max-width: 769px) {
    .conter {
        width: 85vw;
    }
}
@media screen and (min-width: 769px) {
    .conter {
        width: 73vw;
    }
}
.collapse {
    display: none
}
.collapse.show {
    display: block
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility
}
.exp-note{
    position: relative;
    left: 9%;
    width: 80%;
    display: block;
}
/* .exp_name {
    font-size: 2rem;
    color: skyblue;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 10px;
} */

/* .expstep_name {
    font-size: 30px;
    font-weight: bold;
    color: #534f7a;
    line-height: 3rem;
    text-align: left;
    margin: 50px 40px 40px 5px;
} */
/* table {
    border-collapse: collapse!important;
    border: 2px solid #60815b!important;
    width: 100%!important;
}
tr:first-child {
    background-color: #a6b3a3!important;
    color: #60815b;
}
table th,
td {
    border: 1px solid #60815b!important;
    padding: 8px!important;
}
th:first-child,
table td:first-child {
    width: 10%!important;
}
.th4{
    margin-left: 25px;
    font-size: 28px!important;
    font-weight: 550;
}
h2 {
    color: #534f7a!important;
    font-family: Aaargh!important;
    font-size: 45px!important;
    display: inline-block!important;
    padding-bottom: 10px!important;
    border-bottom: 0.25rem solid #66805d!important;
} */
