/* 清除浏览器默认格式 */
* {
  margin: 0;
  padding: 0;
  /* 内减模式 */
  box-sizing: border-box;
  font-family: MyFont,Lora,Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body{
  max-width: 100vw;
  max-height: 2000vh;
  overflow-x: hidden; /* 防止水平滚动 */
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.container{
  min-height: 100vh;
  width: 100vw;
}

.banner{
width: 100vw;
height: 100vh;
overflow: hidden;
}

.bannerbox{
position: relative;
}

.bg1{
position: absolute;
top: 13vh;
z-index: 2;
}

.bg2{
top: 0;
right: 0;
position: absolute;
z-index: 1;
}

.banner.logo{
position: relative;
}

.text {
position: absolute;
font-size: 10pt;
font-weight: bold;
color: black;
pointer-events: none;
z-index: 5;
}

#triangle {
position: absolute;
width: 0;
height: 0;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-bottom: 20px solid black;
pointer-events: none; /* 使三角形不阻挡鼠标事件 */
z-index: 5;
}

.page{
  background-image: url('https://static.igem.wiki/teams/5136/home/bg-white.jpg');
  background-size: contain; /* 使背景图片覆盖整个div */
  background-position: center; /* 使图片居中 */
  background-repeat: repeat-y; 
  width: 100%;
  min-height: 100vh;
}

.page-container{
position: relative;
height: 80vh;
width: 100vw;
opacity: 0;
transition: opacity 1s ease, transform 1s ease;
}

.page-container.visible {
  opacity: 1;
}

p{
color: #443850;
font-size: 3.5vh;
line-height: 6vh;
font-weight: bold;
}

.emphasize{
color: #a73d40;
font-size: 5vh;
}

.gas-animation{
opacity: 0; /* 初始状态下不可见 */
transition: opacity 1s ease-in-out; /* 控制淡入淡出的动画 */
}

@keyframes co2Path {
0% {
    transform: translate(0, 0);
    opacity: 0;
}
25% {
    transform: translate(-15vw, 5vh); 
    opacity: 1;
}
50% {
    transform: translate(-20vw, 20vh); 
    opacity: 1;
}
75% {
    transform: translate(-30vw, 25vh); 
    opacity: 0;
}
100% {
    transform: translate(-40vw, 40vh); 
    opacity: 0;
}
}

@keyframes o2Path {
0% {
    transform: translate(0, 0);
    opacity: 0;
}
25% {
    transform: translate(15%, -8vh); 
    opacity: 0;
}
50% {
    transform: translate(-15%, -16vh); 
    opacity: 1;
}
75% {
    transform: translate(15%, -24vh);
    opacity: 1;
}
100% {
    transform: translate(-15%, -32vh); 
    opacity: 0;
}
}

.gas-animation.active-o2 {
opacity: 1; /* 淡入 */
animation: o2Path 5s ease-in-out forwards infinite; /* 轨迹动画3秒 */
}

.gas-animation.active-co2 {
opacity: 1; /* 淡入 */
animation: co2Path 5s ease-in-out forwards infinite; /* 轨迹动画3秒 */
}

.gas-animation.active-smoke {
opacity: 1; /* 淡入 */
}

.fade-out {
opacity: 0; /* 设置淡出效果 */
transition: opacity 0.01s ease-in-out;
}
.fade-in {
opacity: 1; /* 设置淡入效果 */
transition: opacity 0.01s ease-in-out;
}

.co2container {
position: relative;
top: -80vh;
width: 50vw;
height: 80vh;
left: 50%;
}
.co2container img {
position: absolute;
top: 50%;
left: 50%;
height: 10vh;
transform: translate(-50%, -50%);
opacity: 1;
transition: opacity 0.5s;
}

/* 动态生成的图片动画 */
@keyframes expand {
0% {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
}
100% {
    transform: translate(var(--x), var(--y)) scale(1);
    opacity: 1;
}
}

.content {
text-align: center;

}

/* 为数据容器定义样式 */
.data-style {
font-size: 7vh;
font-weight: bold;
}

.fade {
transition: opacity 0.5s ease-in-out;  /* 过渡效果 */
opacity: 1;  /* 初始完全不透明 */
}

/* 为每个数字设置不同颜色 */
#figure1 {
color: #ff7500;
}

#figure2 {
color: #bea7c5;
}

#tp-carousel {
transition: opacity 0.5s ease-in-out;
}

.tianping p{
font-size: 1.5vw;
transition: all 1s ease;  
line-height: 4vw;
}

.tianping p.active {
font-size: 2vw; 
}

#carousel {
font-size: 2.5vw;
text-align: center;
transition: opacity 0.5s ease;
color: #523329;
font-weight: bold;
}
.fade-outt {
opacity: 0;
}

.think-lunbo img {
transition: opacity 1s ease;
}

