{% extends "layout.html" %}

{% block title %}Design{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue
with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css2024/experiments.css') }}">

<script src="{{ url_for('static', filename = 'js2024/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>



<div id="loader-wrapper">
  <div id="loader">
    <div class="loader-img">
      <img src="https://static.igem.wiki/teams/5136/load-new.gif">
    </div>
  </div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<div class="container">

  <!--loading-->

  <!--侧边导航栏-->
  <div class="myScrollspy">
    <!-- 文字导航 -->
    <div class="left-bar">
      <div class="left-bar-right">
        <div class="left-bar-right-item">
          <a href="#section1" class="sidebar-link" data-section="section1">Background</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section2" class="sidebar-link" data-section="section2">Solutions</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section3" class="sidebar-link" data-section="section3">Future Expectations</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section4" class="sidebar-link" data-section="section4">References</a>
        </div>
      </div>
    </div>
    <!-- 底部插图 -->
    <div class="left-bar-bg">
      <img src="https://static.igem.wiki/teams/5136/cbl-fix.png" alt="">
    </div>
    <!-- 进度条 -->
    <div class="scroll-bar"></div>
  </div>

  <!--以下就是正文段落-->
  <div class="myPage">
    <div class="myPage-main">
      <div style="height: 100px;position:relative;"></div>
      <div class="myPage-main-content">
        <!---大标题--->
        <div class="myPage-headline">
          <h1 class="myPage-headline-content">
            <span style="color: #8768cd">.</span>
            <span style="color: #483b53;font-family: Aaargh;">Design</span>
            <span style="color: #8768cd">.</span>
          </h1>
        </div>

        <!---Background--->
        <div class="myPage-paragraph" id="section1">
          <h2 class="myPage-paragraph-headline-h2">Background</h2>
          <!-- 记住这里的h2就是标题 -->
          <p class="myPage-paragraph-content">
            Global climate change caused by excessive release of carbon dioxide (CO<sub>2</sub>) is one of the major
            challenges
            around the world. As the world's largest carbon absorbers on land, forests are crucial to the balance of the
            global environment. However, given the fact that there is a considerable part of the waste paper resources
            which are not fully used in the paper industry, the amount of deforestation for commercial purpose has been
            aggravated virtually. The biggest difficulty for recycling waste paper is how to remove various inks
            contained in waste paper efficiently and eco-friendly. Therefore, we decided to explore innovative ways of
            paper recycling to improve recycling efficiency and reduce pollution, thereby reducing deforestation and
            mitigating the climate crisis. See more details in our <a style="font-weight: bolder;text-decoration: none;"
              href="{{ url_for('pages', page='description') }}">Project Description</a>.
          </p>
        </div>

        <!---Solutions--->
        <div class="myPage-paragraph" id="section2">
          <h2 class="myPage-paragraph-headline-h2">Solutions</h2>


          <h3 class="myPage-paragraph-headline-h3">1. Enzymatic Deinking</h3>
          <p class="myPage-paragraph-content">
            Deinking of waste paper is to <b>destroy the adhesion</b> of the ink to the fiber through a certain method,
            according
            to the composition and characteristics of the ink. In that case, the surface tension of the ink on the waste
            paper is reduced, resulting in the effects of wetting, penetration, emulsification and dispersion. At the
            same
            time, the connection between the ink and the fiber is broken, thus the printed ink is separated from the
            pulp
            fiber (1). Recently, the waste paper recycling industry has used various chemicals for deinking, including
            sodium hydroxide (NaOH), sodium carbonate (Na<sub>2</sub>CO<sub>3</sub>), magnesium sulphate
            (MgSO<sub>4</sub>) and ethylene diamine
            tetraacetic acid (EDTA) (2), which results in an alkaline circumstance that will adversely affect the
            quality
            of the recycled pulp fibers and cause a certain degree of pollution to the eco-environment as well. However,
            studies have shown that deinking using enzymes, the biological catalysts, can not only improve the strength
            of
            paper, but also reduce the pollution of waste water (3). Therefore, for the purpose of improving the
            performance of paper and achieving environmental sustainability, we decide to <b>obtain the deinking
              enzymes</b> by
            <b>autolysis methods</b> or <b>extracellular secretion</b> from the engineered bacteria, and use these
            enzymes to
            <b>replace traditional chemical reagents</b> for deinking, while finally use <b>limonene</b> to extract ink
            for separation from
            pulp.
          </p>
          <h4 class="myPage-paragraph-headline-h4">1.1 Deinking System</h4>
          <p class="myPage-paragraph-content">
            The deinking system of our <a style="font-weight: bolder;text-decoration: none;"
              href="{{ url_for('pages', page='home') }}">REPARO</a> project is a biological enzyme system of high
            efficiency and stability.
            Aiming at the two critical stages of ink separation from paper and paper bleaching, we chose three kinds of
            enzymes, including <b>cellulase</b> , <b>monooxygenase</b> and <b>laccase</b> , for the biodeinking
            process.(Figure 1)
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-fig1.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 1 Schematic diagram of the enzymatic deinking
                process.</b>
            </div>
          </div>
          <h5 class="myPage-paragraph-headline-h5">Cellulase</h5>

          <p class="myPage-paragraph-content">
            Cellulase belongs to the family of hydrolases, which can catalyze the hydrolysis of cellulose and its
            derivatives, changing the fiber surface or the bonds in the surrounding ink to break the cellulose molecules
            and promote the separation of ink from the surface of the paper fiber (4). We used the cellulase EG5C of
            <i>Bacillus subtilis</i> , which can bind closely and quickly to the pulp fiber <i>via</i> its specific
            cellulose binding
            module (CBM), contributing to the hydrolyzation of pulp fiber for promoting the deinking effects (5).
          </p>

          <h5 class="myPage-paragraph-headline-h5">Monooxygenase</h5>

          <p class="myPage-paragraph-content">
            Monooxygenase participates in a process known as 'oxygen activation' whereby molecular dioxygen
            (O<sub>2</sub>) is
            bound to, ultimately generating a released reactive oxygen (6). This reactive oxygen species (ROS) causes
            alkaline breakage of conjugated side chains of lignin and other colored substances such as azo dyes through
            nucleophilic reaction, increasing the hydrophilicity of the reaction products, which can be easily removed
            in the subsequent washing process to achieve the purpose of bleaching (7). We investigated several
            monooxygenases, including OleT<sub>JE</sub> from <i>Jeotgalicoccus</i> sp. ATCC 8456 (8), CYP199A4 from
            <i>Rhodopseudomonas
              palustris</i> (9) and SfmD from <i>Streptomyces lavendulae</i> NRRL 11002 (10) to determine the best for
            deinking of
            the waste paper.
          </p>
          <h5 class="myPage-paragraph-headline-h5">Laccase</h5>
          <p class="myPage-paragraph-content">
            As a lignin-degrading enzyme (11), laccase can degrade the remaining lignin in the fibers on the surface of
            the pulp through oxidation, weakening the binding between the surface microfibers to promote the separation
            of ink (12). Besides, laccase can also degrade aniline substances and azo dyes, which will assist the
            process of deinking. We decided to introduce the laccase from <i>Rheinheimera</i> sp., which was reported to
            significantly improve the brightness, break length, tear coefficient and burst coefficient of the processed
            paper (13).
          </p>
          <h4 class="myPage-paragraph-headline-h4">1.2 Ink Separation</h4>
          <p class="myPage-paragraph-content">
            Currently in industry, deinking flotation is the preferred method for removing printed ink from paper during
            the recycling process. The process is based on the difference between hydrophilic and hydrophobic inks, in
            which the latter can be removed from the pulp suspension by adhering to bubbles (14). However, this method
            will cause a certain loss of fiber, thus lowering the recovery rate. Therefore, we decided to implement
            <b>extraction</b> <i>via</i> a certain hydrophobic solvent rather than floatation during the deinking
            process. We chose
            limonene, a solvent that can be biosynthesized (15), from a range of candidates to extract the ink in the
            pulp after enzymatic deinking (Figure 2), overcoming the shortage of flotation method that carries away a
            large amount of pulp fibers so as to minimize the loss of fibers.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-2.jpg" alt="">
            <div class="myPage-paragraph-fig-description">
              <b>Figure 2 Schematic diagram of the extraction process by using limonene.</b>
            </div>
          </div>
          <h4 class="myPage-paragraph-headline-h4">1.3 Enzyme Obtainment </h4>
          <p class="myPage-paragraph-content">
            It is relatively easy to produce the target protein (enzyme) from engineered bacteria in the laboratory and
            purify it, however in industry, the additional purification process will greatly increase the cost of paper
            recycling. To bring our REPARO solutions closer to the industrial stage, two methods for obtaining target
            proteins from engineered bacteria without the need of purification have been proposed: one is to construct
            an
            autolytic system to induce the lysis of engineered bacteria and release the intracellularly produced target
            protein, the other is to harness the bacterial secretion machine (signal peptide-dependent pathway) to
            secrete
            the target protein into the extracellular circumstance.
          </p>

          <h5 class="myPage-paragraph-headline-h5">Autolytic System</h5>
          <p class="myPage-paragraph-content">
            It is reported that the <i>E. coli</i> autolytic system FLSA (FhuD-lysozyme-SsrA mediated autolytic system)
            (Figure 3)
            can
            efficiently release target proteins from cells, so we chose to use this system to realize the release of
            deinking enzymes after production (16). This system integrates the Sec-Tat dual pathway signal peptide FhuD,
            T7 lysozyme, and <i>E. coli</i> ClpX/P-SsrA protein degradation machinery for effective cell lysis without
            disturbing recombinant protein production. First, N-terminal FhuD signal peptide guides the translocation of
            the folded T7 lysozyme to access the peptidoglycan layer to confer the cell lytic effect. Second, the
            C-terminal SsrA tag helps to eliminate cell toxicity by degrading the leaky expression of cytoplasmic T7
            lysozyme, which can reduce the growth burden caused by T7 lysozyme leaky expression.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-fig4.png" alt="" style="max-width: 700px;">
            <div class="myPage-paragraph-fig-description">
              <b>Figure 3 Schematic diagram of the <i>E. coli</i> FLSA system.</b>
            </div>
          </div>
          <h5 class="myPage-paragraph-headline-h5">Signal Peptide</h5>
          <p class="myPage-paragraph-content">
            Since the supernatant of bacterial culture could be used directly, extracellular secretion of target protein
            rather than undergoing cell lysis after a certain induction offers a possibility to simplify the process of
            obtaining target enzymes. Therefore, we also proposed a design to secrete enzymes out of the engineered
            bacteria <i>via</i> signal peptides (Figure 4). Given the previous successful cases of using <b>LMT signal
              peptide</b>
            (<a style="font-weight: bolder;text-decoration: none;"
              href="https://2021.igem.org/Team:XMU-China/Results">XMU-China 2021</a>,
            <a style="font-weight: bolder;text-decoration: none;"
              href="https://2023.igem.wiki/xmu-china/results">XMU-China 2023</a>), we decided to
            compare the performance of this sequence we discovered before with another seven commonly used signal
            peptide sequences then choose the best one to assist the secretion of deinking enzymes (See more details in
            our <a style="font-weight: bolder;text-decoration: none;"
              href="{{ url_for('pages', page='model') }}">Model</a> page).
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-fig3.png" alt="" style="max-width: 700px;">
            <div class="myPage-paragraph-fig-description">
              <b>Figure 4 Schematic diagram of the signal peptide-dependent secretion of deinking enzymes.</b>
            </div>
          </div>
          <h3 class="myPage-paragraph-headline-h3">2. Harmless Treatment of Wastewater</h3>
          <p class="myPage-paragraph-content">
            After enzymatic deinking, many chemical bonds between ink and paper are destroyed, which leads ink to enter
            the deinking wastewater. However, there are a variety of soluble heavy metals in the ink that are not
            destroyed in the recycling process of waste paper (17), including lead (Pb), chromium (Cr), cadmium (Cd) and
            mercury (Hg). As a result, the deinking wastewater cannot be discharged directly, and a demand of removal of
            heavy metal ions has been placed on the harmless treatment of wastewater. In order to remove heavy metals
            from
            wastewater, we decided to use <b>metallothioneins (MTs)</b> to bind them <i>via</i> the strategy of surface
            display
            or
            co-expression with the <b>transporter</b> of specific metal ions (Figure 5).
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-fig5.png" alt="">
            <div class="myPage-paragraph-fig-description">
              <b>Figure 5 Schematic diagram of the heavy metal bioremediation <i>via</i> metallothioneins surface
                displayed
                or co-expressed with specific transporter.</b>
            </div>
          </div>
          <h4 class="myPage-paragraph-headline-h4">2.1 Metallothionein</h4>
          <p class="myPage-paragraph-content">
            <b>Metallothioneins</b> are a class of low molecular weight and cysteine-rich metal-binding proteins, while
            one
            metallothionein can bind 6-9 heavy metal ions. Common metallothioneins can bind divalent heavy metal ions
            generally, but lack the function of treating hexavalent chromium (Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup>).
            However, human
            metallothionein Mt2A
            and MT3 have adsorption capacity for both common metal ions and Cr<sub>2</sub>O<sub>7</sub><sup>2-</sup>
            ions (18), which can be
            heterogeneously
            expressed in engineered bacteria for wastewater treatment. Therefore, for distinct treatment situations, we
            decided to construct engineered bacteria to express metallothioneins in two different patterns: the one is
            to display the metallothioneins on the surface of engineered bacteria, while the other is to express the
            metallothioneins intracellularly accompanied with the transporter of heavy metal ions.
          </p>

          <h5 class="myPage-paragraph-headline-h5">Surface Display</h5>
          <p class="myPage-paragraph-content">
            It was reported that displaying metallothioneins on the surface of engineered bacteria could improve the
            efficiency of adsorbing heavy metal ions (19), which might be attributed to the expanded contact area with
            the
            meatal ions. Additionally, this strategy offers certain portability to subsequent treatment of engineered
            bacteria to recycle heavy metals. Based on these, we chose the classic <B>INPNC surface display system</B> ,
            which
            has been proven to display various proteins efficiently (20), to anchor metallothioneins (MT2A and MT3) on
            the surface of engineered bacteria.
          </p>
          <h5 class="myPage-paragraph-headline-h5">Transporter</h5>
          <p class="myPage-paragraph-content">
            Even though better performance on absorbing various heavy metal ions was observed when surface displayed,
            the metallothioneins showed low efficiency on absorbing Cd<sup>2+</sup> (21). To tackle this challenge, the
            metallothioneins is designed to be expressed intracellularly rather than displayed on the surface of the
            engineered bacteria, while a Cd<sup>2+</sup> transporter will be co-expressed in the same bacteria to
            transport Cd<sup>2+</sup>
            into the cells, thus achieving the bioremediation of Cd<sup>2+</sup> (22).
          </p>
          <p class="myPage-paragraph-content">
            <b>MntA</b> , an endogenous protein in <i>Lactobacillus plantarum</i> , plays the role to transport Mn<sup>2+</sup>
            and Cd<sup>2+</sup>
            into the
            bacteria, whose transporting efficiency for Cd<sup>2+</sup> will not be interfered by other metal ions
            except
            Mn<sup>2+</sup>
            (reduced to 20% of the original) (23). Given the extremely low concentration of Mn<sup>2+</sup> in
            wastewater
            and the
            presence of many other heavy metal ions (17), we decided to overexpress this transporter to meet our needs.
          </p>
          <h4 class="myPage-paragraph-headline-h4">2.2 Biosafety</h4>
          <p class="myPage-paragraph-content">
            There is a potential risk that the engineered bacteria might escape into the opening environment since they
            are involved in the situations to be put directly into the pulp for use (See more details in our <a
              style="font-weight: bolder;text-decoration: none;"
              href="{{ url_for('pages', page='implementation') }}">Proposed Implementation</a> page), which will pose a
            threat to the environment and biodiversity indeed once unwanted
            survival and accumulation of the engineered bacteria happens (24). Considering biosafety, we designed a kill
            switch for biocontainment of the engineered bacteria. For not adding extra chemicals (such as various
            inducers) into the wastewater, we decided to design a <b>light-triggered kill switch</b> to realize the
            "suicide"
            of the engineered bacteria: after deinking in a dark circumstance, the inbuilt kill switch will be turned to
            the “ON” state <i>via</i> being exposed to the light illumination of specific wavelength so as to achieve
            the goal
            of biocontainment.
          </p>
          <p class="myPage-paragraph-content">
            At present, many optogenetic systems that have been developed in prokaryotes mainly respond to the
            wavelength of blue light rather than other colors of light in the visible spectrum (25). Besides, these blue
            light responding-optogenetic systems generally utilize FMN or FAD as the chromophore of photosensor, which
            can be synthesized by the bacteria naturally (26). Taking this advantage, no additional chromophore synthase
            genes need to be cloned and introduced into the engineered bacteria, which remains more space for the
            functional exogenous genes in a single cell. For these reasons, we decided to select a suitable system that
            respond to the blue light to build the kill switch. Finally, the blue light-induced <b>eLightOn system</b>
            was
            chosen: in the dark, <b>LexRO</b> dimerizes and binds to the promoter <b>pColE408</b> to inhibit its
            transcription; while
            under blue light illumination, the LexRO dimer dissociates from the promoter and thus initiates the
            expression of gene downstream (27). The eLightOn system showed a better performance over the other existing
            single-component bacterial light-activated expression systems, with benefits including a high ON/OFF ratio
            of >500-fold, a high activation level, fast activation kinetics, and/or good adaptability to different
            promoters and <i>E. coli</i> strains (27).
          </p>
          <p class="myPage-paragraph-content">
            <b><i>ccdB</i></b> , a gene encoding the toxin that interferes with the activity of DNA gyrase (28), is
            placed under the
            control of promoter pColE408 to confer the killing effect as a blue light-induced pattern. In addition, to
            reduce the growth burden caused by the potential leaky expression of toxin, an antitoxin gene <i>ccdA</i> is
            introduced as well, which is designed to be controlled by a weak constitutive engineering promoter p2)-114v
            (Figure 6A).
            And therefore, once the expression level of CcdB upon blue light illumination exceeds that of CcdA, the
            engineered bacteria will be killed due to the toxicity of CcdB (Figure 6B).
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-6.png" alt="">
            <div class="myPage-paragraph-fig-description">
              <b>Figure 6 Blue light-induced biocontainment.</b><br>
              <b>(A) The gene circuit of LexRO/pColE408-regulated kill switch.</b><br>
              <b>(B) Schematic diagram of blue light-triggered killing of the engineered bacteria.</b>
            </div>
          </div>

        </div>

        <!---Future Expectations --->
        <div class="myPage-paragraph" id="section3">
          <h2 class="myPage-paragraph-headline-h2">Future Expectations</h2>
          <p class="myPage-paragraph-content">
            In daily life, people's needs for handwriting erasure are extensive and diverse. However, our current design
            is mainly focused on the deinking of pulp in the printing plant, so we hope to develop a product that can
            easily remove handwriting in daily life according to the deinking principle referred before.
          </p>
          <p class="myPage-paragraph-content">
            The ink used in daily handwriting is mainly composed of <b>hydrophobic pigments</b> and <b>binders</b>, so
            using a better
            hydrophobic solvent may be possible to achieve the removal of handwriting. Our pre-experiments showed that
            the
            microemulsion consisting of surfactant sodium dodecyl sulfate (SDS) and limonene had a good effect on
            dissolving ink and removed the handwriting to a certain extent. Considering environmental protection, we
            hope
            to choose rhamnolipid, a kind of surfactant that can be biosynthesized and easily degraded (15), accompanied
            with limonene to form microemulsion to achieve handwriting removal (Figure 7).
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/design/design-7.jpg" alt="">
            <div class="myPage-paragraph-fig-description">
              <b>Figure 7 Schematic diagram of the mechanism of handwriting removal.</b>
            </div>
          </div>
          <p class="myPage-paragraph-content">
            Additionally, for improving the recycling ability of the microemulsion, we intend to utilize adsorbents to
            adsorb the ink that is dissolved in the microemulsion after being removed from the paper. The adsorption
            materials containing chitosan as the main component can adsorb ink molecules through both physical and
            chemical effects while have the advantages of low toxicity, excellent biocompatibility and low cost over the
            traditional polymer hydrogel (29). Therefore, this kind of materials is chosen as the adsorbent conferring
            the
            reusability for the microemulsion, thus assisting the removal of daily handwriting.
          </p>
        </div>



        <!--Reference-->
        <div class="myPage-paragraph" id="section4">
          <h2 class="myPage-paragraph-headline-h2">References</h2>
          <ol class="myPage-paragraph-reference">
            <li>X. Zhang, Y. Xue, Research Progress of Deinking Technology for Waste Paper Pulping. Shandong Paper
              Society
              (2012). (in Chinese)
            </li>
            <li>
              A. Singh, L. M. Varghese, R. D. Yadav, R. Mahajan, A Pollution Reducing Enzymatic Deinking Approach for
              Recycling of Mixed Office Waste Paper. Environ. Sci. Pollut. Res. Int. 27, 45814-45823 (2020).
            </li>
            <li>D. E. Tsatsis, D. K. Papachristos, K. A. Valta, A. G. Vlyssides, D. G. Economides, Enzymatic Deinking
              for
              Recycling of Office Waste Paper. J. Environ. Chem. Eng. 5, 1744-1753 (2017).
            </li>
            <li>
              A. Saxena, P. Singh Chauhan, Role of Various Enzymes for Deinking Paper: A Review. Crit. Rev.
              Biotechnol.
              37, 598-612 (2017).
            </li>
            <li>
              B. Wu et al., Processivity and Enzymatic Mechanism of a Multifunctional Family 5 Endoglucanase from
              Bacillus subtilis BS-5 with Potential Applications in the Saccharification of Cellulosic Substrates.
              Biotechnol. Biofuels 11, 20 (2018).
            </li>
            <li>
              E. G. Hrycay, S. M. Bandiera, The Monooxygenase, Peroxidase, and Peroxygenase Properties of Cytochrome
              P450.
              Arch. Biochem. Biophys. 522, 71-89 (2012).
            </li>
            <li>
              K. Shen, G. Fang, F. Chu, Application of Hydrogen Peroxide in the Pulp and Paper Industry. Paper
              Chemicals, 19-23 (2005). (in Chinese)
            </li>
            <li>
              Y. Jiang et al., Establishing an Enzyme Cascade for One-Pot Production of Alpha-Olefins from Low-Cost
              Triglycerides and Oils without Exogenous H<sub>2</sub>O<sub>2</sub> Addition. Biotechnol. Biofuels 13, 52
              (2020).
            </li>
            <li>
              P. Zhao et al., Crucial Gating Residues Govern the Enhancement of Peroxygenase Activity in an Engineered
              Cytochrome P450 O-Demethylase. Chem. Sci. 15, 8062-8070 (2024).
            </li>
            <li>
              I. Shin et al., A Novel Catalytic Heme Cofactor in SfmD with a Single Thioether Bond and a Bis-His Ligand
              Set Revealed by a De Novo Crystal Structural and Spectroscopic Study. Chem. Sci. 12, 3984-3998 (2021).
            </li>
            <li>
              L. Arregui et al., Laccases: Structure, Function, and Potential Application in Water Bioremediation.
              Microb.
              Cell Fact. 18, 200 (2019).
            </li>
            <li>
              S. Sondhi et al., An Extracellular Thermo-Alkali-Stable Laccase from Bacillus tequilensis SN4, with a
              Potential to Biobleach Softwood Pulp. 3 Biotech. 5, 175-185 (2015).</li>
            <li>
              V. Gupta, S. Balda, N. Gupta, N. Capalash, P. Sharma, Functional Substitution of Domain 3 (T1 Copper
              Center) of a Novel Laccase with Cu Ions. Int. J. Biol. Macromol. 123, 1052-1061 (2019).</li>
            <li>
              S. Jamnicki Hanzer, B. Lozo, L. Barušić, Producing Direct Food Packaging Using Deinked Office Paper
              Grades—Deinkability and Food Contact Suitability Evaluation. Sustainability 13, 12550 (2021).
            </li>
            <li>
              X. Kong et al., Efficient Synthesis of Limonene in Saccharomyces cerevisiae Using Combinatorial Metabolic
              Engineering Strategies. J. Agric. Food Chem. 71, 7752-7764 (2023).
            </li>
            <li>
              F. Zhang et al., Development of a Bacterial FhuD-Lysozyme-SsrA Mediated Autolytic (FLSA) System for
              Effective Release of Intracellular Products. ACS Synth. Biol. 12, 196-202 (2023).
            </li>
            <li>
              Y. He, Study on the Toxicity and Key Toxicants of Waste-Paper Effluents and Sludge. Master's Thesis
              (2012).
              (in Chinese)
            </li>
            <li>
              Ş. Akkurt, M. Oğuz, A. Alkan Uçkun, Bioreduction and Bioremoval of Hexavalent Chromium by Genetically
              Engineered Strains (Escherichia coli Mt2A and Escherichia coli Mt3). World J. Microbiol. Biotechnol. 38,
              45
              (2022).
            </li>
            <li>
              M. Valls, S. Atrian, V. de Lorenzo, L. A. Fernández, Engineering a Mouse Metallothionein on the Cell
              Surface of Ralstonia eutropha CH34 for Immobilization of Heavy Metals in Soil. Nat. Biotechnol. 18,
              661-665
              (2000).
            </li>
            <li>
              E. van Bloois, R. T. Winter, H. Kolmar, M. W. Fraaije, Decorating Microbes: Surface Display of Proteins on
              Escherichia coli. Trends Biotechnol. 29, 79-86 (2011).
            </li>
            <li>
              X. Deng, X. E. Yi, G. Liu, Cadmium Removal from Aqueous Solution by Gene-Modified Escherichia coli JM109.
              J. Hazard. Mater. 139, 340-344 (2007).
            </li>
            <li>
              Z. Hao, S. Chen, D. B. Wilson, Cloning, Expression, and Characterization of Cadmium and Manganese Uptake
              Genes from Lactobacillus plantarum. Appl. Environ. Microbiol. 65, 4746-4752 (1999).
            </li>
            <li>
              S. K. Kim, B. S. Lee, D. B. Wilson, E. K. Kim, Selective Cadmium Accumulation Using Recombinant
              Escherichia
              coli. J. Biosci. Bioeng. 99, 109-114 (2005).
            </li>
            <li>
              F. Stirling, P. A. Silver, Controlling the Implementation of Transgenic Microbes: Are We Ready for What
              Synthetic Biology Has to Offer? Mol. Cell 78, 614-623 (2020).
            </li>
            <li>
              R. Ohlendorf, A. Moglich, Light-Regulated Gene Expression in Bacteria: Fundamentals, Advances, and
              Perspectives. Front. Bioeng. Biotechnol. 10, 1029403 (2022).
            </li>
            <li>
              A. Baumschlager, M. Khammash, Synthetic Biological Approaches for Optogenetics and Tools for
              Transcriptional
              Light-Control in Bacteria. Adv. Biol. 5, e2000256 (2021).
            </li>
            <li>
              X. Li et al., A Single-Component Light Sensor System Allows Highly Tunable and Direct Activation of Gene
              Expression in Bacterial Cells. Nucleic Acids Res. 48, e33 (2020).
            </li>
            <li>
              P. Bernard, M. Couturier, Cell Killing by the F Plasmid CcdB Protein Involves Poisoning of
              DNA-Topoisomerase
              II Complexes. J. Mol. Biol. 226, 735-745 (1992).
            </li>
            <li>
              Muryeti, E. B. Mulyani, E. Sinurat, Adsorption of Carbon Black Using Chitosan in the Deinking Process.
              Procedia Chem. 17, 106-110 (2015).
            </li>
          </ol>
        </div>
      </div>
    </div>

  </div>

  <div style="margin-bottom: 100px;"></div>

</div>

{% endblock %}