{% extends "layout-home.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2024!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}
 <!-- <div id="scrollToTopBtn">
        <img src="https://static.igem.wiki/teams/5136/button.png" alt="">
    </div>
    <script src="{{ url_for('static', filename = 'js/button.js') }}"></script>

    <div class="banner"></div>

    <div class="content">
        <div class="ball">
            <div class="word1">
                <p>With the rapid development of The Times, the consumption and market of electronic products are constantly expanding, but the old electronic equipment is constantly abandoned, resulting in the disposal and recycling of waste electronic products.</p>
            </div>
            <img src="https://static.igem.wiki/teams/5136/layout/ball.png" alt="">
            <div class="word2">
                <p>However, China's recycling of electronic waste in the recycling rate and ways are unsatisfactory. According to a 2019 data. The global average recycling rate of e-waste is 17.4%, while China's recycling rate is only about 10%.</p>
            </div>
        </div>
        <div class="tube">
            <div class="dirt">
                <img src="https://static.igem.wiki/teams/5136/dirt.png" alt="">
            </div>
            <img src="https://static.igem.wiki/teams/5136/tube.png" alt="" class="tube1">
            <div class="Au">
                <img src="https://static.igem.wiki/teams/5136/metal/au.png" alt="">
            </div>
            <div class="Ag">
                <img src="https://static.igem.wiki/teams/5136/ag.png" alt="">
            </div>
            <div class="CN">
                <img src="https://static.igem.wiki/teams/5136/cn.png" alt="">
            </div>
            <div class="Agg">
                <img src="https://static.igem.wiki/teams/5136/metal/agplus.png" alt="">
            </div>
            <div class="Auu">
                <img src="https://static.igem.wiki/teams/5136/metal/auplus.png" alt="">
            </div> -->
            <div class="word3">
                <p>We hope that through this environmentally friendly treatment method, the purpose of recycling precious metals in e-waste can be achieved, while reducing the direct or potential damage to the environment as much as possible, so that the treatment and reuse of e-waste is no longer difficult, and can truly contribute to the protection of resources and the environment efficiently.</p>
            </div>
        </div>
    </div>



{% endblock %}
