{% extends "layout.html" %}

{% block title %}Human Practices{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue
with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css2024/experiments.css') }}">

<script src="{{ url_for('static', filename = 'js2024/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>




<div class="container">
  <div id="loader-wrapper">
    <div id="loader">
      <div class="loader-img">
        <img src="https://static.igem.wiki/teams/5136/load-new.gif">
      </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!--loading-->

  <!--侧边导航栏-->
  <div class="myScrollspy">
    <!-- 文字导航 -->
    <div class="left-bar">
      <div class="left-bar-right">
        <div class="left-bar-right-item">
          <a href="#section1" class="sidebar-link" data-section="section1">Overview</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section2" class="sidebar-link" data-section="section2">Background</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section3" class="sidebar-link" data-section="section3">Project Design</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section4" class="sidebar-link" data-section="section4">Project Design Improvement</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section5" class="sidebar-link" data-section="section5">Feedback</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section6" class="sidebar-link" data-section="section6">Summary and Prospect</a>
        </div>
      </div>
    </div>
    <!-- 底部插图 -->
    <div class="left-bar-bg">
      <img src="https://static.igem.wiki/teams/5136/cbl-fix.png" alt="">
    </div>
    <!-- 进度条 -->
    <div class="scroll-bar"></div>
  </div>

  <!--以下就是正文段落-->
  <div class="myPage">
    <div class="myPage-main">
      <div style="height: 100px;position:relative;"></div>
      <div class="myPage-main-content">
        <!---大标题--->
        <div class="myPage-headline">
          <h1 class="myPage-headline-content">
            <span style="color: #8768cd">.</span>
            <span style="color: #483b53;font-family: Aaargh;">Human Practices</span>
            <span style="color: #8768cd">.</span>
          </h1>
        </div>

        <div class="myPage-paragraph" id="moban">
          <h2 class="myPage-paragraph-headline-h2">正常用的标题比如1</h2>
          <h3 class="myPage-paragraph-headline-h3">小标题比如2.1</h3>
          <h4 class="myPage-paragraph-headline-h4">小小标题2.1.3</h4>
          <h5 class="myPage-paragraph-headline-h5">特殊的小小小标题2.1.1.3</h5>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <a style="font-weight: bolder;text-decoration: none;" href="https://www.baidu.com/">百度</a>
          <a style="font-weight: bolder;text-decoration: none;"
            href="{{ url_for('pages', page='hardware') }}">Hardware</a>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/result/1.jpg" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 1</b>
            </div>
          </div>
        </div>

        <div class="myPage-paragraph" id="section1">
          <h2 class="myPage-paragraph-headline-h2">Overview</h2>
          <p class="myPage-paragraph-content">
            This year, we are focusing on wastepaper recycling, optimizing the full life cycle of paper products, which
            will help protect forests, reduce greenhouse gas (GHG) emissions from the paper industry, mitigating the
            climate crisis. In this regard, our human practice will be carried out around specialists, government
            departments, related enterprises, and users, including the development, production, supervision, use, and
            recycling of paper. Our human practice work consists of “WAND” elements:
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/hp/1.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>The WAND Elements</b>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section2">
          <h2 class="myPage-paragraph-headline-h2">Background</h2>
          <h3 class="myPage-paragraph-headline-h3">1. Interview a young environmentalist</h3>
          <p class="myPage-paragraph-content">
            Since the establishment of the Greenwild Association of XMU in 2000, these young environmentalists of the
            organization have been at the forefront of environmental education. They've been making efforts to arouse
            broad public concern by holding environmental debate competitions, promoting environmental videos, and
            conducting environmental education courses in primary and secondary schools.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/hp/2.png" alt="">
          </div>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Click this
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    <b>Will:</b><br>
                    As we have noticed the importance of forests in alleviating the climate crisis, we interviewed a
                    young environmentalist from Greenwild Association. Through this interview, we want to learn how
                    environmentalists have adopted a more sensitive perspective on climate change in recent years and
                    how they have made efforts to protect forests. <br>
                    <b>Action:</b><br>
                    <img src="https://static.igem.wiki/teams/5136/hp/3.jpg" alt="">
                    <span class="myPage-paragraph-fig-description"><b>Figure 1 The discussion about afforestation
                        between a
                        member of the Greenwild Association of XMU and a member of XMU-China 2024.</b>
                    </span>
                    <b>“Are there any projects in the past few years that have impressed you or inspired you, especially
                      in forest conservation and the fight against climate change?”</b><br>
                    “One of our members was involved in a forest restoration project in a county in Fujian Province. The
                    forests there have been badly damaged by years of illegal logging, and flooding worsens it.
                    Thankfully, after several years of afforestation, the trees began to stabilize the soil.” <br>
                    <b>“From your perspective, what is the link between deforestation and global climate change? Does
                      deforestation exacerbate extreme weather events?”</b><br>
                    “We all know that deforestation is closely related to climate change. We're saying that forests are
                    important carbon absorbers, which can reduce GHG emissions, and slow down global warming. If you cut
                    down trees, you will increase the accumulation of greenhouse gases, leading to extreme weather. When
                    it comes to floods, droughts, typhoons, and so on, it is also closely related to deforestation to
                    some extent.”<br>
                    <b>“What do you think are the biggest challenges in promoting sustainable forest management and
                      conservation policies?”</b><br>
                    “Benefits. For many areas, deforestation means short-term economic gains. It takes time to convince
                    local communities of the long-term sustainability benefits, especially when the economic returns are
                    less obvious. So, when promoting these policies, it needs environmental awareness and corresponding
                    economic alternatives.”<br>
                    <b>Notion:</b><br>
                    Climate change is indeed linked to forests, and many people have been working on it continuously.
                    However, it is more important to make people gain the reward of these actions so that it can better
                    forest resource conservation.
                    In terms of spreading awareness of environmental conservation, these relevant organizations or
                    communities led by the young can spread the seeds of environmental protection to more people. <br>
                    <b>Decision:</b> <br>
                    To promote forest conservation, we need to learn more about how China is dealing with climate change
                    in forest utilization and try to turn our project into a viable economic alternative. In this
                    process, we also need to investigate further the public's understanding of paper products, which are
                    timber's main applications, helping carry out relevant science popularization activities.
                  </p>
                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="myPage-paragraph" id="section3">
          <h2 class="myPage-paragraph-headline-h2">Dan Liang</h2>
          <p class="myPage-paragraph-content">
            Dan Liang is a professor at the School of Public Policy at Xiamen University. For more than ten years, he
            has accumulated abundant theoretical and practical experience in the Economic Development Research Center of
            the State Forestry Administration, People’s Republic of China.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/result/1.jpg" alt="">
          </div>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading5">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="true"
                    aria-controls="collapse5">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    From the interview with the Greenwild Association of XMU, we have acknowledged that deforestation is
                    a way of earning income for many areas. However, we think forests do more than that, so we want to
                    find out more about the global forest industry in the context of the climate crisis.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading6">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse6" aria-expanded="false"
                    aria-controls="collapse6">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    We conducted an online interview with Prof. Liang. During the exchange, he introduced the concept of
                    forest ecosystem service and explained the ecological, economic, and social functions of forests. We
                    learned that the utilization types of forests in China can be divided into public welfare forests
                    and commercial forests. Public welfare forests mainly protect the ecological environment and
                    maintain biodiversity, while commercial forests pay more attention to economic benefits. However,
                    they are not opposites; they can be complementary and symbiotic through scientific management. <br>
                    With the aim of professionally evaluating the potential of our project as a promising economic
                    alternative for forest conservation, Prof. Liang recommended the <b>life cycle evaluation</b> method
                    for
                    us. This comprehensive approach will allow us to assess our project's impact on energy saving and
                    emission reduction in the paper industry, effectively bridging the gap between forestry and the
                    paper industry.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse7" aria-expanded="false"
                    aria-controls="collapse7">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    From our analysis of China's policies and the discussion with Prof. Liang, we have observed a
                    significant shift from industrial civilization to eco-civilization . This transition is a beacon of
                    hope for forest conservation. By employing the life cycle evaluation, we can measure our project's
                    contributions to reducing GHG emissions and protecting forest resources, thereby advancing the
                    implementation of this inspiring concept.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading8">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse8" aria-expanded="false"
                    aria-controls="collapse8">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    We learned more about the changes in China's forestry policies and their implications for addressing
                    climate change. We decided to use a full <b>life cycle evaluation</b> to evaluate our project's
                    contributions to the paper industry and forest conservation.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section4">
          <h2 class="myPage-paragraph-headline-h2">Zhangzhou Municipal Ecology and Environment
            Bureau</h2>
          <p class="myPage-paragraph-content">
            Zhangzhou Municipal Ecology and Environment Bureau is mainly responsible for monitoring and improving the
            environmental quality of Zhangzhou and other environmental protection and management activities.
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading9">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="true"
                    aria-controls="collapse9">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    We have come to understand that climate change is not just a distant threat, but a pressing issue
                    that is directly linked to the survival of our forests. We are eager to visit the environmental
                    monitoring department for a comprehensive investigation into how climate change and reforestation
                    are impacting our daily lives.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading10">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse10" aria-expanded="false"
                    aria-controls="collapse10">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    We held discussions with the Zhangzhou Municipal Ecology and Environment Bureau. The staff told us
                    that Zhangzhou has been affected by global warming recently, with frequent extreme weather such as
                    typhoons, torrential rain, strong convection, drought, high temperature, and freezing damage.
                    Meteorological disasters are generally severe, affecting the city's economic operation. <br>
                    It is mentioned that carbon dioxide emission is the main cause of the greenhouse effect, deriving
                    from thermal power generation, paper making, steel, and other industrial activities that consume
                    large amounts of energy and materials. When it comes to the environmental impact of industry, we
                    learned that the current paper industry pollution mainly including ammonia nitrogen, total
                    phosphorus, black alkali liquor, organic pollutants, etc., which are troublesome for relevant
                    manufacturers.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading11">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse11" aria-expanded="false"
                    aria-controls="collapse11">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    After this survey, we realized we needed to find the details of paper enterprises' wastepaper
                    recycling and treatment processes. We also noticed that the Municipal Ecology and Environment Bureau
                    is also making efforts to create a low-carbon community in the local area. This urges us to pay
                    attention to the citizens and take subsequent actions.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading12">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse12" aria-expanded="false"
                    aria-controls="collapse12">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    Through our discussions, we have gained a deeper understanding of climate change and have brought
                    attention to the carbon emission and pollution problems in the paper industry. This has also sparked
                    inspiration for us to conduct more extensive fieldwork on the potential for a low-carbon community.
                    We believe that we can make significant strides towards a more sustainable future.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/result/5.jpg" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 2 The discussion about the climate crisis between
                Zhangzhou Municipal Ecology and Environment Bureau and members of XMU-China 2024.</b>
            </div>
          </div>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/result/6.jpg" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 3 Members of XMU-China communicated with staff of
                Zhangzhou Municipal Ecology and Environment Bureau.</b>
            </div>
          </div>
        </div>

        <div class="myPage-paragraph" id="section5">
          <h2 class="myPage-paragraph-headline-h2">Xiamen Low-Value Recyclable Sorting
            Center</h2>
          <p class="myPage-paragraph-content">
            The Low-Value Recyclable Sorting Center is responsible for the efficient and accurate automatic sorting of
            low-value recyclables, mainly disposable boxes, Tetra Pak, express packages, etc. It represents the
            eco-friendly mode of household waste recyclables in Xiamen.
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section6">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section7">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section8">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section9">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section10">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section11">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section12">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section13">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section14">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section15">
          <h2 class="myPage-paragraph-headline-h2">bt</h2>
          <p class="myPage-paragraph-content">
            段落
          </p>
          <div id="accordion-Det" class="accordion">
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a role="button" class="collapsed" data-toggle="collapse" href="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">
                    Will:
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">
                    Action:
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">
                    Notion:
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" href="#collapse4" aria-expanded="false"
                    aria-controls="collapse4">
                    Decision:
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <p>
                    1
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <div style="margin-bottom: 100px;"></div>
  <script>
    // jQuery to handle the collapse toggle and style changes
    $(document).ready(function () {
      $('#accordion-Det .panel-title a').click(function () {
        var targetId = $(this).attr('href');
        // Toggle the collapse
        $(targetId).collapse('toggle');

        // Event for collapse show
        $(targetId).on('shown.bs.collapse', function () {
          $(this).prev().find('a').removeClass('collapsed').addClass('expanded');
        });

        // Event for collapse hide
        $(targetId).on('hidden.bs.collapse', function () {
          $(this).prev().find('a').removeClass('expanded').addClass('collapsed');
        });

        return false; // Prevent the default behavior of the anchor
      });
    });
  </script>

</div>

{% endblock %}