{% extends "layout.html" %}

{% block title %}LCA{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue
with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css2024/experiments.css') }}">

<script src="{{ url_for('static', filename = 'js2024/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>




<div class="container">

  <!--loading-->

  <!--侧边导航栏-->
  <div class="myScrollspy">
    <!-- 文字导航 -->
    <div class="left-bar">
      <div class="left-bar-right">
        <div class="left-bar-right-item">
          <a href="#section1" class="sidebar-link" data-section="section1">没有标题的第一部分</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section2" class="sidebar-link" data-section="section2">Pretreatment</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section3" class="sidebar-link" data-section="section3">Deinking</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section4" class="sidebar-link" data-section="section4">Waste Treatment</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section5" class="sidebar-link" data-section="section5">Conclusion</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section6" class="sidebar-link" data-section="section6">The whole life of paper</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section7" class="sidebar-link" data-section="section7">References</a>
        </div>
      </div>
    </div>
    <!-- 底部插图 -->
    <div class="left-bar-bg">
      <img src="https://static.igem.wiki/teams/5136/cbl-fix.png" alt="">
    </div>
    <!-- 进度条 -->
    <div class="scroll-bar"></div>
  </div>

  <!--以下就是正文段落-->
  <div class="myPage">
    <div class="myPage-main">
      <div style="height: 100px;position:relative;"></div>
      <div class="myPage-main-content">
        <!---大标题--->
        <div class="myPage-headline">
          <h1 class="myPage-headline-content">
            <span style="color: #867a77">.</span>
            <span style="color: #483b53;font-family: Aaargh;">Life Cycle Assessment</span>
            <span style="color: #867a77">.</span>
          </h1>
        </div>

        <!---文字段落--->
        <div class="myPage-paragraph" id="section1">
          <h2 class="myPage-paragraph-headline-h2">没有标题的第一部分</h2>
          <!-- 记住这里的h2就是标题 -->
          <p class="myPage-paragraph-content">
            Compared to direct incineration or landfilling of the waste paper, recycling can significantly reduce carbon
            emissions and it accounts for only 20-30% of incineration emissions and 70-80% of landfill emissions (1). We
            need a quantitative evaluation to further understand how much our project can contribute to reducing carbon
            emissions.
          </p>
          <p class="myPage-paragraph-content">
            Life Cycle Assessment (LCA) is a comprehensive method used to evaluate the environmental impacts of a
            product or process from its inception toc disposal (from “cradle” to “grave”). In the context of waste paper
            recycling, LCA examines every stage, including raw material extraction, production, usage, and end-of-life
            treatment (2). By quantifying factors like energy consumption, greenhouse gas emissions, and waste
            generation, this assessment provide a holistic view of environmental impact. LCA shows that in the pulp and
            paper industry, production processes contribute to over half of the total carbon emissions (3) (Figure 1).
            Therefore, reducing emissions at this stage is critical. Using data from our experiments as well as relevant
            researches and databases, we calculated and compared the carbon emissions of enzymatic and chemical deinking
            methods in recycled paper production.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/lca/lca-fig1.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 1 Distribution of carbon footprint in paper and pulp
                industry.</b>
            </div>
          </div>
          <p class="myPage-paragraph-content">
            Our waste paper production process is divided into three parts: Pretreatment, Deinking, and Waste Treatment.
            The calculation boundaries include all the inputs and outputs in these three parts, including chemical
            reagent/enzymes production, electricity consumption, and post-deinking waste treatment. The calculation
            equations are as follows:
          </p>
          <div class="myPage-paragraph-fig">
            <img src="" alt="">
            <div class="myPage-paragraph-fig-description"><b>这里是数学公式</b>
            </div>
          </div>
          <p class="myPage-paragraph-content">
            Where C_T is the total carbon emission (kg CO2eq), C_P is the carbon emission (kg CO2eq) in pretreatment
            process, C_D is the deinking carbon emission (kg CO2eq) and C_W is the carbon emission (kg CO2eq) in waste
            treatment. Carbon emission in each step (C_i) is calculated with input amount (I_ij) and its carbon emission
            factor (α_ij). Specific carbon emission factors are as follows:
          </p>
          <div class="myPage-paragraph-table-div" style="text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th style="width:30%;">Type</th>
                  <th style="width:50%;">Carbon emission factor</th>
                  <th style="width:20%;">Source</th>
                </tr>
                <tr>
                  <td>Electricity</td>
                  <td>0.53 kg CO2eq/kwh</td>
                  <td>(4)</td>
                </tr>
                <tr>
                  <td>NaOH</td>
                  <td>2.5 kg CO2eq/kg</td>
                  <td></td>
                </tr>
                <tr>
                  <td>H2O2</td>
                  <td>2.3 kg CO2eq/kg</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Na2SiO3</td>
                  <td>1.5 kg CO2eq/kg</td>
                  <td>Ecoinvent3</td>
                </tr>
                <tr>
                  <td>Yeast extract</td>
                  <td>1.5 kg CO2eq/kg</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Tryptone</td>
                  <td>2.1 kg CO2eq/kg</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Enzyme producing E. coli BL21</td>
                  <td>34.7 mmol CO2/h per g [dw]</td>
                  <td>(6)</td>
                </tr>
                <tr>
                  <td>COD/BOD</td>
                  <td>1.375 kg CO2eq/kg</td>
                  <td>China Products Carbon</td>
                </tr>
                <tr>
                  <td>Suspended solids</td>
                  <td>422.4 kg CO2eq/t</td>
                  <td>Footprint Factors Database</td>
                </tr>
              </tbody>
            </table>
            <div class="myPage-paragraph-fig-description">
              <b>Table 1 Carbon emission factors used in our calculation.</b>
            </div>
          </div>



        </div>

        <!---Pretreatment--->
        <div class="myPage-paragraph" id="section2">
          <h2 class="myPage-paragraph-headline-h2">Pretreatment</h2>
          <p class="myPage-paragraph-content">
            This part involves mixing waste paper with water to generate pulp, primarily consuming electrical energy.
            Based on our machine's power and the average carbon emission factor of the China's power grid (4), the CO2
            emissions were calculated and the result is 17.6 g CO2eq/100 mL pulp.
          </p>
        </div>

        <!---Deinking--->
        <div class="myPage-paragraph" id="section3">
          <h2 class="myPage-paragraph-headline-h2">Deinking</h2>

          <p class="myPage-paragraph-content">
            After pulp preparation, chemical reagents or enzymes are added to the pulp to separate ink from the pulp.
            Stirring was applied to facilitate better reaction. We calculated the carbon emission of chemical reagents'
            production (5), the respiration of enzyme-producing bacteria (6), and the corresponding electricity
            consumption. Results indicate that enzymatic deinking (22.6 g CO2eq/100 mL pulp) reduces carbon emissions by
            30.7% compared to chemical methods (32.6 g CO2eq/100 mL pulp). The reduction is mainly due to the decreased
            chemical reagent usage and the high efficiency of enzymes.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/lca/lca-fig2.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 2 Carbon emission in deinking process.</b>
            </div>
          </div>

        </div>

        <!---超链接的写法--->
        <div class="myPage-paragraph" id="section4">
          <h2 class="myPage-paragraph-headline-h2">Waste Treatment</h2>
          <p class="myPage-paragraph-content">
            The deinking process generates large amount of wastewater (7). The waste treatment process deals with
            harmful substances in wastewater such as chemical oxygen demand (COD), biochemical oxygen demand (BOD), and
            suspended solids (SS). Enzymatic methods significantly reduce COD and BOD compared to chemical methods due
            to lower chemical reagent usage (8). Additionally, the alkaline condition of chemical methods leads to fiber
            breakage, reducing fiber recovery rate and increasing SS (9). These SS becomes deinking sludge during
            wastewater treatment, which, when landfilled or incinerated, also generates considerable amount of CO2.
            Overall, wastewater treated with enzymatic methods results in 54.2% lower carbon emissions compared to
            chemical methods.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/lca/lca-fig3.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 3 Post-deinking waste of chemical and enzymatic
                methods.</b>
            </div>
          </div>

        </div>

        <div class="myPage-paragraph" id="section5">
          <h2 class="myPage-paragraph-headline-h2">Conclusion</h2>
          <p class="myPage-paragraph-content">
            The enzymatic deinking method demonstrates a substantial reduction in carbon emissions (21.1%, compared to
            chemical methods) across all stages of recycled paper production.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/lca/lca-fig4.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 4 Overall carbon emission and distribution.</b>
            </div>
          </div>
          <p class="myPage-paragraph-content">
            In addition to carbon emission, we also calculated the economic costs of chemical and enzymatic methods. We
            assessed the costs of electricity and chemical reagents consumed throughout the entire production process.
            The results indicate that the use of enzymatic methods can reduce the production cost of recycled paper by
            31.9%.
          </p>
          <div class="myPage-paragraph-fig">
            <img src="https://static.igem.wiki/teams/5136/lca/lca-fig5.png" alt="">
            <div class="myPage-paragraph-fig-description"><b>Figure 5 Economic cost of chemical and enzymatic
                methods</b>
            </div>
          </div>
          <p class="myPage-paragraph-content">
            In conclusion, our enzymatic deinking method reduced both economic and emission cost, highlighting our
            method's potential as a more sustainable alternative to traditional chemical methods.
          </p>
        </div>

        <div class="myPage-paragraph" id="section6">
          <h2 class="myPage-paragraph-headline-h2">The whole life of paper</h2>
          <p class="myPage-paragraph-content">
            When employing different deinking methods, the properties of recycled paper, such as brightness and fiber
            strength, exhibit notable variations (10). Our experimental results indicate that although both methods
            reduce the brightness of recycled paper compared to virgin pulp paper, the paper treated with the enzymatic
            method is approximately 5% brighter than that treated with the chemical method. Considering multiple
            recycling scenarios, the number of recycling cycles for paper can be described by the following equation:c
          </p>
          <div class="myPage-paragraph-fig">
            <img src=" " alt="">
            <div class="myPage-paragraph-fig-description"><b>这是一个数学公式</b>
            </div>
          </div>
          <p class="myPage-paragraph-content">
            Where β is the percentage of brightness reduction and e the base of natural logarithm.
            For chemical deinking β is 0.27 and for enzymatic deinking β is 0.23. The calculation shows that recycling
            cycles for paper using chemical deinking is 3 and for enzymatic method the number is 4, leading to extra
            cost of raw material for chemical method.
          </p>
        </div>

        <!--References-->
        <div class="myPage-paragraph" id="section7">
          <h2 class="myPage-paragraph-headline-h2">References</h2>
          <ol class="myPage-paragraph-reference">
            <li>
              H. Merrild, A. Damgaard, T. H. Christensen, Life cycle assessment of waste paper management: The
              importance of technology data and system boundaries in assessing recycling and incineration. Resources,
              Conservation and Recycling 52, 1391-1398 (2008).
            </li>
            <li>
              C. M. Defalque, F. A. S. Marins, A. F. da Silva, E. Y. A. Rodríguez, A review of waste paper recycling
              networks focusing on quantitative methods and sustainability. Journal of Material Cycles and Waste
              Management 23, 55-76 (2021).
            </li>
            <li>
              T. A. F. P. Association, "Printing & Writing Papers Life-Cycle Assessment Summary Report," (2009).
            </li>
            <li>
              B. Cai et al., China high resolution emission database (CHRED) with point emission sources, gridded
              emission data, and supplementary socioeconomic data. Resources, Conservation and Recycling 129, 232-239
              (2018).
            </li>
            <li>
              A. Provost-Savard, R. Legros, G. Majeau-Bettez, Parametrized regionalization of paper recycling life-cycle
              assessment. Waste Management 156, 84-96 (2023).
            </li>
            <li>
              K. B. Andersen, K. von Meyenburg, Are growth rates of Escherichia coli in batch cultures limited by
              respiration? J Bacteriol 144, 114-123 (1980).
            </li>
            <li>
              S. Badar, I. H. Farooqi. (2012).
            </li>
            <li>
              S. Mondal et al., Biodeinking of waste papers using combinatorial fungal enzymes and subsequent production
              of butanol from effluent. Bioresource Technology 353, 127078 (2022).
            </li>
            <li>
              S. e. al, Industrial trial results on enzymatic deinking and fiber modification of old newsprint with
              cellulase from aspergillus L22. China Pulp & Paper Industry, 20-22 (2001).
            </li>
            <li>
              A. Kumar, D. Dutt, A comparative study of conventional chemical deinking and environment-friendly
              bio-deinking of mixed office wastepaper. Scientific African 12, e00793 (2021).
            </li>
          </ol>
        </div>


      </div>
    </div>

  </div>

  <div style="margin-bottom: 100px;"></div>

</div>

{% endblock %}