{% extends "layout.html" %}
{% block title %}Members{% endblock %}
{% block page_content %}


<link rel="stylesheet" href="{{ url_for('static', filename = 'css2024/members.css') }}">
<div class="container-member">
    <div class="hhh">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-xie">
            <!-- 行元素 -->
            <div class="row">
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/cjh-yz.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lzm-mss.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyf-njs.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/fmz-qzgw.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hjc-yz.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hwj-sj.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/jrh-ty.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/kyh-hh.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 单元格 -->
                <div class="pro-card-wrapper-xie">
                    <!-- 控制前、后翻转 -->
                    <div class="pro-card">
                        <!-- 正面 -->
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lj-myzl.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/ljc-em.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lxr-sp.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lzm-mss.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/mzy-ddr.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/qlm-ll.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/shl-jh.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/wjw-lr.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/xcx-xx.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/xsh-xbqs.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- 单元格 -->
                <div class="pro-card-wrapper-xie">
                    <!-- 控制前、后翻转 -->
                    <div class="pro-card">
                        <!-- 正面 -->
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyf-njs.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyn-qzs.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zah-zy.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zxx-gt.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zy-yl.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zyh-sbqs.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zyh-sbqs.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/cjh-yz.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/crq-ss.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/cyh-sbq.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/fmz-qzgw.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hjc-yz.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hwj-sj.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/jrh-ty.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/kyh-hh.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lj-myzl.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/ljc-em.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lxr-sp.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="welcome">
        <!-- <br><br><br><br><br> -->
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>

        <div class="tiaozhuan" style="flex-direction: row;">

            <div class="tiaozhuan-img" onclick="window.location.href='#section1';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/ljc-em.jpeg');">
                <!-- <a href="#section1">members</a> -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section2';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/xsh-xbqs.jpeg');">
                <!-- ADVISERS -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section3';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/cjh-yz.jpeg');">
                <!-- Instructor -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section4';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/zah-zy.jpeg');">
                <!-- PI  -->
            </div>
        </div>
    </div>

</div>
<div class="container-member" id="section1">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">balabala</span>
        <p>
            <span style="font-size: 40px;">--·</span>
            <span style="font-size: 40px; font-family: Comic Sans Ms;">members</span>
            <span style="font-size: 40px;">·--</span>
        </p>
        <br><br><br><br>
        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
        <br><br>

        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(10deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-8deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(-6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <div class="welcome">
        
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>
    </div> -->
</div>
<div class="container-member" id="section2">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">balabala</span>
        <p>
            <span style="font-size: 40px;">--·</span>
            <span style="font-size: 40px; font-family: Comic Sans Ms;">members</span>
            <span style="font-size: 40px;">·--</span>
        </p>
        <br><br><br><br>
        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
        <br><br>

        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(10deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-8deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(-6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <div class="welcome">
        
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>
    </div> -->
</div>
<div class="container-member" id="section3">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">balabala</span>
        <p>
            <span style="font-size: 40px;">--·</span>
            <span style="font-size: 40px; font-family: Comic Sans Ms;">members</span>
            <span style="font-size: 40px;">·--</span>
        </p>
        <br><br><br><br>
        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
        <br><br>

        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(10deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-8deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(-6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <div class="welcome">
        
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>
    </div> -->
</div>
<div class="container-member" id="section4">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">balabala</span>
        <p>
            <span style="font-size: 40px;">--·</span>
            <span style="font-size: 40px; font-family: Comic Sans Ms;">members</span>
            <span style="font-size: 40px;">·--</span>
        </p>
        <br><br><br><br>
        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
        <br><br>

        <span>balavalvalvalavladadsasdadasd</span>
        <span>balavalvalvalavladadsasdadasd</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(10deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-3deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(-8deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(4deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(-6deg)">
                    <div class="pro-card-pin">
                        <div class="zheng-body">
                            <div class="character">正面</div>
                            <div class="romaji">A</div>
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body">
                            <div class="character">反面</div>
                            <div class="romaji">B</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <div class="welcome">
        
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>
    </div> -->
</div>

{% endblock %}