{% extends "layout.html" %}
{% block title %}Members{% endblock %}
{% block page_content %}


<link rel="stylesheet" href="{{ url_for('static', filename = 'css2024/members.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'font/font.css') }}">
<style>
    .go-to-attribution {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        /* 字体大小 */
        color: #6a5e93;
        /* 文字颜色 */
        font-weight: bold;
        /* 字体加粗 */
        text-decoration: none;
        /* 去掉下划线 */
        margin: 50px 0;
        /* 上下外边距 */
        position: relative;
        /* 相对定位用于箭头效果 */
        transition: color 0.3s ease;
        /* 颜色渐变效果 */
    }

    .go-to-attribution img {
        position: relative;
        left: 0;
        width: 10vw;
        transform: translateX(3vw);
        transition: transform 0.3s ease;
    }

    .go-to-attribution:hover {
        color: #534f7a;
    }

    .go-to-attribution:hover img {
        transform: translateX(6vw);
    }
</style>
<!--loading-->
<div id="loader-wrapper">
    <div id="loader">
        <div class="loader-img">
            <img src="https://static.igem.wiki/teams/5136/load.gif">
        </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="container-member">
    <div class="hhh">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-xie">
            <!-- 行元素 -->
            <div class="row">
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/cjh-yz.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lzm-mss.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyf-njs.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/fmz-qzgw.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hjc-yz.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hwj-sj.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/jrh-ty.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/kyh-hh.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 单元格 -->
                <div class="pro-card-wrapper-xie">
                    <!-- 控制前、后翻转 -->
                    <div class="pro-card">
                        <!-- 正面 -->
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lj-myzl.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/ljc-em.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lxr-sp.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lzm-mss.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/mzy-ddr.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/qlm-ll.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/shl-jh.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/wjw-lr.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/xcx-xx.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/xsh-xbqs.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- 单元格 -->
                <div class="pro-card-wrapper-xie">
                    <!-- 控制前、后翻转 -->
                    <div class="pro-card">
                        <!-- 正面 -->
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyf-njs.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyn-qzs.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zah-zy.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zxx-gt.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zy-yl.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/yyf-njs.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/zyh-sbqs.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/cjh-yz.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/crq-ss.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/cyh-sbq.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/fmz-qzgw.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hjc-yz.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/hwj-sj.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/jrh-ty.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/kyh-hh.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lj-myzl.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-xie">
                    <div class="pro-card">
                        <div class="zheng-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/ljc-em.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">A</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-top"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-3/lxr-sp.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="welcome">
        <!-- <br><br><br><br><br> -->
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>

        <div class="tiaozhuan" style="flex-direction: row;">

            <div class="tiaozhuan-img" onclick="window.location.href='#section1';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/ljc-em.jpeg');">
                <!-- <a href="#section1">members</a> -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section2';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/kyh-hh.jpeg');">
                <!-- ADVISERS -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section3';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/xsh-xbqs.jpeg');">
                <!-- Instructor -->
            </div>
            <div class="tiaozhuan-img" onclick="window.location.href='#section4';"
                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/cjh-yz.jpeg');">
                <!-- PI  -->
            </div>
        </div>
    </div>

</div>
<div class="container-member" style="flex-direction: column;">
    <div class="pv-text">This is the video title</div> <!-- 添加文字元素 -->
    <div class="pv">
        <div class="video-container">
            <iframe id="videoFrame" title="XMU-China: Final (2023) [English]" width="560" height="315"
                src="https://video.igem.org/videos/embed/09a9bcc3-a354-456d-826e-2dae27645d5d?title=0&amp;warningTitle=0"
                frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
        </div>
    </div>
    <div class="corner-image left-corner"></div>
    <div class="corner-image right-corner"></div>
    <!-- <img src="https://static.igem.wiki/teams/5136/notebook/new.png" class="corner-image left-corner"> -->
    <!-- <img src="https://static.igem.wiki/teams/5136/notebook/new.png" class="corner-image right-corner"> -->
</div>


<div class="container-member" id="section1" style="scroll-margin-top: 8vw;">
    <img src="https://static.igem.wiki/teams/5136/member-tlp-3/member-fy1.png" alt="" style="top: 10vh;">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">Leaders</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <a href="{{ url_for('pages', page='lunbo-leaders') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg);">
                        <div class="pro-card-pin" style="width: 210px;height: 280px;">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/ljc-em.jpeg');">
                                <!-- <div class="character">恶魔</div>
                                <div class="romaji">吕锦程</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/ljc.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>

                <a href="{{ url_for('pages', page='lunbo-leaders') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(6deg);">
                        <div class="pro-card-pin" style="width: 210px;height: 280px;">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/zlh-bjs.jpeg');">
                                <!-- <div class="character">宝剑Ⅳ</div>
                                <div class="romaji">张琳昊</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/zlh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>


            </div>



        </div>
    </div>
    <!-- <div class="welcome">
        
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>
    </div> -->
</div>
<div class="container-member" id="section2">
    <img src="https://static.igem.wiki/teams/5136/member-tlp-3/member-fy1.png" alt="">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">Members</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/kyh-hh.jpeg');">
                                <!-- <div class="character">皇后</div>
                                <div class="romaji">康雨涵</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/kyh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>

                <!-- <a href="{{ url_for('pages', page='lunbo') }}"></a> -->
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/xcx-xx.jpeg');">
                                <!-- <div class="character">星星</div>
                                <div class="romaji">徐宸欣</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/xcx.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/lzm-mss.jpeg');">
                                <!-- <div class="character">魔术师</div>
                                <div class="romaji">刘子墨</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/lzm.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/mzy-ddr.jpeg');">
                                <!-- <div class="character">倒吊人</div>
                                <div class="romaji">莫正杨</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/mzy.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/lj-myzl.jpeg');">
                                <!-- <div class="character">命运之轮</div>
                                <div class="romaji">李佳</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/lj.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>





            </div>
            <div class="row" style="margin-top:20px">

                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(10deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/yyf-njs.jpeg');">
                                <!-- <div class="character">女祭司</div>
                                <div class="romaji">尹艺霏</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/yyf.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-3deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/zxx-gt.jpeg');">
                                <!-- <div class="character">高塔</div>
                                <div class="romaji">张晓晓</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/zxx.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-8deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/jrh-ty.jpeg');">
                                <!-- <div class="character">太阳</div>
                                <div class="romaji">姜若晗</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/jrh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/lxr-sp.jpeg');">
                                <!-- <div class="character">审判</div>
                                <div class="romaji">吕欣冉</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/lxr.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-6deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/crq-ss.jpeg');">
                                <!-- <div class="character">死神</div>
                                <div class="romaji">陈嵘琦</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/crq.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="row" style="margin-top:20px">
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/fmz-qzgw.jpeg');">
                                <!-- <div class="character">权杖国王</div>
                                <div class="romaji">方明正</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/fmz.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/zyh-sbqs.jpeg');">
                                <!-- <div class="character">圣杯骑士</div>
                                <div class="romaji">邹宇涵</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/zyh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/zy-yl.jpeg');">
                                <!-- <div class="character">月亮</div>
                                <div class="romaji">章艺</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/zy.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/wjw-lr.jpeg');">
                                <!-- <div class="character">恋人</div>
                                <div class="romaji">王婧雯</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-photo/wjw.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>


            </div>

        </div>
    </div>
    <!-- <div class="welcome">
        
        <span style="font-family: Comic Sans Ms;">MEMBERS</span>
        <p style="font-family: Comic Sans Ms;">Welcome to XMU iGEM-2024</p>
    </div> -->
</div>

<div class="container-member" id="section3">
    <img src="https://static.igem.wiki/teams/5136/member-tlp-3/member-fy1.png" alt="">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">Advisors</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/hzy-bjhh.jpeg');">
                                <!-- <div class="character">正面</div>
                                <div class="romaji">韩子妍</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/hzy.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/qlm-ll.jpeg');">
                                <!-- <div class="character">力量</div>
                                <div class="romaji">邱丽敏</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/qlm.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/cyh-sbq.jpeg');">
                                <!-- <div class="character">正面</div>
                                <div class="romaji">陈彦豪</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/cyh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/yyn-qzs.jpeg');">
                                <!-- <div class="character">权杖四</div>
                                <div class="romaji">游燕楠</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/yyn.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row" style="margin-top:20px">

                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(10deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/zcf-jz.jpeg');">
                                <!-- <div class="character">节制</div>
                                <div class="romaji">庄晨芳</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/zcf.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-3deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/shl-jh.jpeg');">
                                <!-- <div class="character">教皇</div>
                                <div class="romaji">宋泓霖</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/shl.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-8deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/yxy-card.jpeg');">
                                <!-- <div class="character">正面</div>
                                <div class="romaji">杨欣怡</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/yxy.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-6deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/lyh-card.jpeg');">
                                <!-- <div class="character">无</div>
                                <div class="romaji">卢一涵</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/lyh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/ctt-bjsc.png');">
                                <!-- <div class="character">宝剑侍从</div>
                                <div class="romaji">程坦坦</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/ctt.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>








            </div>
            <div class="row" style="margin-top:20px">
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/wlq-bjl.jpeg');">
                                <!-- <div class="character">宝剑六</div>
                                <div class="romaji">吴刘沁</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/wlq.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/xsh-xbqs.jpeg');">
                                <!-- <div class="character">星币骑士</div>
                                <div class="romaji">徐苏杭</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/xsh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-9deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/lh-card.jpeg');">
                                <!-- <div class="character">星币五</div>
                                <div class="romaji">李好</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/lh.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(3deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/wky-xby.jpeg');">
                                <!-- <div class="character">星币一</div>
                                <div class="romaji">吴铠杨</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/wky.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('pages', page='lunbo-advisors') }}">
                    <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                        <div class="pro-card-pin">
                            <div class="zheng-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/yk-zc.jpeg');">
                                <!-- <div class="character">战车</div>
                                <div class="romaji">杨坤</div> -->
                            </div>
                            <!-- 反面 -->
                            <div class="fan-body"
                                style="background-image: url('https://static.igem.wiki/teams/5136/member-ad-photo/yk.jpeg');">
                                <!-- <div class="character">反面</div>
                                <div class="romaji">B</div> -->
                            </div>
                        </div>
                    </div>
                </a>






            </div>

        </div>
    </div>
</div>

<div class="container-member" id="section4" style="scroll-margin-top: 8vw;">
    <img src="https://static.igem.wiki/teams/5136/member-tlp-3/member-fy1.png" alt=" " style="top: 10vh;">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">Instructors</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin" style="width: 210px;height: 280px;">
                        <div class="zheng-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/cjh-yz.jpeg');">
                            <!-- <div class="character">愚者</div>
                            <div class="romaji">陈俊宏</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-ins-pi/cjh.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(1deg)">
                    <div class="pro-card-pin" style="width: 210px;height: 280px;">
                        <div class="zheng-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-ins-pi/llx-card.jpeg');">
                            <!-- <div class="character">正面</div>
                            <div class="romaji">廖浪兴</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-ins-pi/llx.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>
                <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                    <div class="pro-card-pin" style="width: 210px;height: 280px;">
                        <div class="zheng-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/hjc-yz.jpeg');">
                            <!-- <div class="character">隐者</div>
                            <div class="romaji">黄佳城</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-ins-pi/hjc.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>

</div>
<div class="container-member" id="section5" style="scroll-margin-top: 8vw;">
    <img src="https://static.igem.wiki/teams/5136/member-tlp-3/member-fy1.png" alt="" style="top: 10vh;">
    <div class="fenlei">
        <span style="font-size: 90px; font-family: Comic Sans Ms;">PI</span>
    </div>
    <div class="hhh-xie">
        <!--loading-->
        <!-- <div style="height: 100px;position: relative;;">112123131</div> -->
        <!--Magic-navbar-->
        <div class="grid-pin">
            <!-- 行元素 -->
            <div class="row" style="margin-top:20px">
                <div class="pro-card-wrapper-pin" style="transform: rotate(-4deg)">
                    <div class="pro-card-pin" style="width: 210px;height: 280px;">
                        <div class="zheng-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-2/hwj-sj.jpeg');">
                            <!-- <div class="character">世界</div>
                            <div class="romaji">洪文晶</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-ins-pi/hwj.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

                <div class="pro-card-wrapper-pin" style="transform: rotate(6deg)">
                    <div class="pro-card-pin" style="width: 210px;height: 280px;">
                        <div class="zheng-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-tlp-1/zah-zy.jpeg');">
                            <!-- <div class="character">正义</div>
                            <div class="romaji">张瑷珲</div> -->
                        </div>
                        <!-- 反面 -->
                        <div class="fan-body"
                            style="background-image: url('https://static.igem.wiki/teams/5136/member-ins-pi/zah.jpeg');">
                            <!-- <div class="character">反面</div>
                            <div class="romaji">B</div> -->
                        </div>
                    </div>
                </div>

            </div>




        </div>
    </div>

</div>
<div class="container-member" style="min-height: 10vh;justify-content: flex-end;">
    <a href="{{ url_for('pages', page='attributions') }}" class="go-to-attribution" style="transform: translateX(-7vw);">
        Go to our attribution
        <img src="https://static.igem.wiki/teams/5136/parts-table-icon/jt.png" alt="Arrow">
    </a>
</div>

<script>
    $(window).on('load', function () {
        // 延迟 1 秒后执行以下代码
        setTimeout(function () {
            $('body').addClass('loaded');

            // 如果不需要加载文字，可以移除这个元素
            $('#loader-wrapper .load_title').remove();
        }, 1000); // 1000 毫秒 = 1 秒
    });


</script>
<!-- <script src="{{ url_for('static', filename = 'js2024/loading.js') }}"></script> -->
{% endblock %}