{% extends "layout.html" %}

{% block title %}Parts{% endblock %}

{% block page_content %}
<meta name="format-detection" content="telephone=no" />

<main style="overflow:hidden">
  <!--loading-->
  <!-- <div id="loader-wrapper">
    <div id="loader">
      <div class="loader-img">
        <img src="https://static.igem.wiki/teams/4907/wiki/background/loading.png">
      </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div> -->

  <!--Magic-navbar-->
  <div class="myScrollspy">
    <div class="left-bar">
      <div class="left-bar-right">
        <div class="left-bar-right-item">
          <a href="#section1" class="sidebar-link" data-section="section1">Overview</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section2" class="sidebar-link" data-section="section2">Basic Parts</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section3" class="sidebar-link" data-section="section3">Composite Parts</a>
        </div>
      </div>
    </div>
    <div class="left-bar-bg">
      <img src="https://static.igem.wiki/teams/5136/cbl-img.png" alt="">
    </div>
    <div class="scroll-bar"></div>
  </div>

  <!--content-->
  <div class="myPage">
    <!-- <div class="myPage-padding"></div> -->
    <div class="myPage-main">
      <div style="height: 100px;position:relative;"></div>
      <div class="myPage-main-content" style="text-align: justify">
        <div class="myPage-headline">
          <h1 class="myPage-headline-content">
            <span style="color: #867a77">.</span>
            <span style="color: #483b53;font-family: Aaargh;">Parts</span>
            <span style="color: #867a77">.</span>
          </h1>
          <div class="myPage-headline-divider"></div>
        </div>
        <div class="myPage-paragraph" id="section1">
          <h2 class="myPage-paragraph-headline-h2">
            1.Overview
          </h2>
          <div class="myPage-paragraph-table-div">
            <div class="myPage-paragraph-content">
              This year, among the 93 parts designed, 44 of them are basic parts and the rest are composite parts. All
              of them are designed by ourselves, and most of them have been tested to insure their reliability. You can
              click <a style="font-weight: bolder;text-decoration: none;"
                href="{{ url_for('pages', page='design') }}">here</a>
              to learn more about our project to see their specific functions, or click on the part numbers
              when browse website.
            </div>
          </div>
        </div>
        <!---Basic Parts--->
        <div class="myPage-paragraph" id="section2">
          <h2 class="myPage-paragraph-headline-h2">
            2.Basic Parts
          </h2>
          <div class="myPage-paragraph-content">
            Among the 44 basic parts designed this year, <a style="font-weight: bolder;text-decoration: none;"
              href="http://parts.igem.org/Part:BBa_K4907010">BBa_K4907016</a> is our favorite one that codes VSW-3 RNA
            Polymerase (VSW-3 RNAP). This gene not only realizes our AND gate design successfully, but also shows
            particular talent in low-temperature expression systems. This excellent coding sequence companied with its
            corresponding promoters will be a novel and prospective tool for other researchers and teams. Besides, many
            other basic parts have also been designed to construct our project.
          </div>
          <div class="myPage-paragraph-table-div" style="text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th>Favorite</th>
                  <th style="width:20%;">Name</th>
                  <th>Type</th>
                  <th style="width:50%;">Description</th>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907000">BBa_K4907000</a>
                  </td>
                  <td>Coding</td>
                  <td><i>sfibp</i>-his tag</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907001">BBa_K4907001</a>
                  </td>
                  <td>Coding</td>
                  <td><i>tmafp</i>-his tag</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907002">BBa_K4907002</a>
                  </td>
                  <td>Coding</td>
                  <td>KpSP-linker-<i>gfp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907003">BBa_K4907003</a>
                  </td>
                  <td>Coding</td>
                  <td>LMT-linker-<i>gfp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907004">BBa_K4907004</a>
                  </td>
                  <td>Coding</td>
                  <td><i>sfibp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907005">BBa_K4907005</a>
                  </td>
                  <td>Coding</td>
                  <td><i>tmafp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907006">BBa_K4907006</a>
                  </td>
                  <td>Coding</td>
                  <td>LMT-linekr-<i>sfibp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907007">BBa_K4907007</a>
                  </td>
                  <td>Coding</td>
                  <td>LMT-linker-<i>tmafp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907008">BBa_K4907008</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pCspA</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907009">BBa_K4907009</a>
                  </td>
                  <td>Regulatory</td>
                  <td><i>cspA</i> 5'-UTR</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907010">BBa_K4907010</a>
                  </td>
                  <td>Regulatory</td>
                  <td><i>cspA</i> 3'-UTR</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907011">BBa_K4907011</a>
                  </td>
                  <td>Coding</td>
                  <td>TEE</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907012">BBa_K4907012</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pVSW-3(18)</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907013">BBa_K4907013</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pVSW-3(17)</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907014">BBa_K4907014</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pVSW-3(16)</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907015">BBa_K4907015</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pVSW-3(GGG)</td>
                </tr>
                <tr>
                  <td>
                    <img src="https://static.igem.wiki/teams/5136/parts-table-icon/jt.png" slt="">
                    
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907010">BBa_K4907016</a>
                  </td>
                  <td>Coding</td>
                  <td>VSW-3 <i>rnap</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907017">BBa_K4907017</a>
                  </td>
                  <td>Coding</td>
                  <td><i>sspC</i>-VSW-3 <i>rnapC</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907018">BBa_K4907018</a>
                  </td>
                  <td>Coding</td>
                  <td>VSW-3 <i>rnapN</i>-<i>npuN</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907019">BBa_K4907019</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pHrpL</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907020">BBa_K4907020</a>
                  </td>
                  <td>Regulatory</td>
                  <td>araBAD promoter</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907021">BBa_K4907021</a>
                  </td>
                  <td>Coding</td>
                  <td><i>hrpR</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907022">BBa_K4907022</a>
                  </td>
                  <td>Coding</td>
                  <td><i>hrpS</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907023">BBa_K4907023</a>
                  </td>
                  <td>Coding</td>
                  <td>Mn-SOD</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907024">BBa_K4907024</a>
                  </td>
                  <td>Coding</td>
                  <td><i>katG</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907025">BBa_K4907025</a>
                  </td>
                  <td>Coding</td>
                  <td><i>cpn10</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907026">BBa_K4907026</a>
                  </td>
                  <td>Coding</td>
                  <td><i>cpn60</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907027">BBa_K4907027</a>
                  </td>
                  <td>Coding</td>
                  <td><i>cbm</i>-his tag</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907028">BBa_K4907028</a>
                  </td>
                  <td>Coding</td>
                  <td><i>mv<sup>140</sup></i>-linker-his tag</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907029">BBa_K4907029</a>
                  </td>
                  <td>Coding</td>
                  <td><i>mv<sup>140</sup></i>-linker-<i>cbm</i>-his tag</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907030">BBa_K4907030</a>
                  </td>
                  <td>Regulatory</td>
                  <td>araBAD-weak</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907031">BBa_K4907031</a>
                  </td>
                  <td>Regulatory</td>
                  <td>I0500-weak</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907032">BBa_K4907032</a>
                  </td>
                  <td>Coding</td>
                  <td><i>ccdA</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907033">BBa_K4907033</a>
                  </td>
                  <td>Coding</td>
                  <td><i>bcsA</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907034">BBa_K4907034</a>
                  </td>
                  <td>Coding</td>
                  <td><i>bcsB</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907035">BBa_K4907035</a>
                  </td>
                  <td>Coding</td>
                  <td><i>hasA</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907036">BBa_K4907036</a>
                  </td>
                  <td>Coding</td>
                  <td><i>gfp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907037">BBa_K4907037</a>
                  </td>
                  <td>Coding</td>
                  <td><i>rfp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907040">BBa_K4907040</a>
                  </td>
                  <td>Regulatory</td>
                  <td>sgRNA (<i>rne</i>)</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907041">BBa_K4907041</a>
                  </td>
                  <td>RBS</td>
                  <td>T7 RBS</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907042">BBa_K4907042</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pVSW-3(19)</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907043">BBa_K4907043</a>
                  </td>
                  <td>Regulatory</td>
                  <td>pVSW-3(genome)-RBS</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="myPage-paragraph" id="section3">
          <!---Composite Parts--->
          <h2 class="myPage-paragraph-headline-h2">
            3.Composite Parts
          </h2>
          <div class="myPage-paragraph-content">
            We have designed a series of composite parts this year, and most of them could be useful tools for our
            design. And our favorite composite part is <a style="font-weight: bolder;text-decoration: none;"
              href="http://parts.igem.org/Part:BBa_K4907110">BBa_K4907114</a>,
            which contains the sequence of VSW-3 RNAP to
            activate target genes' expression.
          </div>
          <div class="myPage-paragraph-table-div" style="padding-bottom: 60px;text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th>Favorite</th>
                  <th style="width:20%;">Name</th>
                  <th>Type</th>
                  <th style="width:50%;">Description</th>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907100">BBa_K4907100</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907101">BBa_K4907101</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-KpSP-linker-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907102">BBa_K4907102</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-LMT-linker-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907103">BBa_K4907103</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>sfibp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907104">BBa_K4907104</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>tmafp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907105">BBa_K4907105</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-LMT-linker-<i>sfibp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907106">BBa_K4907106</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-LMT-linker-<i>tmafp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907107">BBa_K4907107</a>
                  </td>
                  <td>Composite</td>
                  <td>T7 promoter-B0034-<i>rfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907108">BBa_K4907108</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(18)-B0034-<i>rfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907109">BBa_K4907109</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(18)-B0034-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907110">BBa_K4907110</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(17)-B0034-<i>rfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907111">BBa_K4907111</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(16)-B0034-<i>rfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907112">BBa_K4907112</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(GGG)-B0034-<i>rfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907113">BBa_K4907113</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(18)-B0034-<i>rfp</i>-B0034-VSW-3 <i>rnap</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                    <img src="https://static.igem.wiki/teams/5136/parts-table-icon/jt.png" slt="">
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907110">BBa_K4907114</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-VSW-3 <i>rnap</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907115">BBa_K4907115</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-VSW-3 <i>rnapN</i>-<i>npuN</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907116">BBa_K4907116</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>sspC</i>-VSW-3 <i>rnapC</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907117">BBa_K4907117</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>sspC</i>-VSW-3 <i>rnapC</i>-B0034-VSW-3 <i>rnapN</i>-<i>npuN</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907118">BBa_K4907118</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-TEE-<i>gfp</i>-<i>cspA</i> 3'-UTR-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907119">BBa_K4907119</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-TEE-VSW-3 <i>rnap</i>-<i>cspA</i> 3'-UTR-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907120">BBa_K4907120</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-TEE-VSW-3 <i>rnapN</i>-<i>npuN</i>-<i>cspA</i> 3'-UTR-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907121">BBa_K4907121</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-TEE-<i>sspC</i>-VSW-3 <i>rnapC</i>-<i>cspA</i> 3'-UTR-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907122">BBa_K4907122</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(genome)-RBS-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907123">BBa_K4907123</a>
                  </td>
                  <td>Composite</td>
                  <td>pHrpL-B0030-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907124">BBa_K4907124</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>hrpR</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907125">BBa_K4907125</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>hrpS</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907126">BBa_K4907126</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>hrpR</i>-B0015-araBAD promoter-B0034-<i>hrpS</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907127">BBa_K4907127</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-TEE-<i>hrpS</i>-<i>cspA</i> 3'-UTR-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907128">BBa_K4907128</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-TEE-<i>hrpR</i>-<i>cspA</i> 3'-UTR-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907129">BBa_K4907129</a>
                  </td>
                  <td>Composite</td>
                  <td>pCspA-<i>cspA</i> 5'-UTR-<i>hrpR</i>-<i>cspA</i> 3'-UTR-B0015- pCspA-<i>cspA</i> 5'-UTR
                    -<i>hrpS</i>-<i>cspA</i>
                    3'-UTR-B0015
                  </td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907130">BBa_K4907130</a>
                  </td>
                  <td>Composite</td>
                  <td>pVSW-3(19)-B0034-<i>rfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907131">BBa_K4907131</a>
                  </td>
                  <td>Composite</td>
                  <td>pRha-B0034-<i>ccdB</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907132">BBa_K4907132</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-Mn-SOD-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907133">BBa_K4907133</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>cpn10</i>-B0034-<i>cpn60</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907134">BBa_K4907134</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-Mn-SOD-T7 RBS-<i>katG</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907135">BBa_K4907135</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>cbm</i>-his tag-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907136">BBa_K4907136</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>mv<sup>140</sup></i>-linker-his tag-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907137">BBa_K4907137</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>mv<sup>140</sup></i>-linker-<i>cbm</i>-his tag-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907138">BBa_K4907138</a>
                  </td>
                  <td>Composite</td>
                  <td>I13453-B0034-<i>ccdA</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907139">BBa_K4907139</a>
                  </td>
                  <td>Composite</td>
                  <td>K206001-B0034-<i>ccdB</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907140">BBa_K4907140</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-<i>ccdB</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907141">BBa_K4907141</a>
                  </td>
                  <td>Composite</td>
                  <td>araBAD-weak-B0034-<i>ccdB</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907142">BBa_K4907142</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-weak-B0034-<i>ccdB</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907143">BBa_K4907143</a>
                  </td>
                  <td>Composite</td>
                  <td>J23109-B0034-<i>bcsA</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907144">BBa_K4907144</a>
                  </td>
                  <td>Composite</td>
                  <td>K731500-B0034-<i>bcsB</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907145">BBa_K4907145</a>
                  </td>
                  <td>Composite</td>
                  <td>J23100-B0034-<i>hasA</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907146">BBa_K4907146</a>
                  </td>
                  <td>Composite</td>
                  <td>J23100-B0034-<i>gfp</i>-B0015</td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907147">BBa_K4907147</a>
                  </td>
                  <td>Composite</td>
                  <td>J23100-B0034-<i>rfp</i></td>
                </tr>
                <tr>
                  <td>
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907148">BBa_K4907148</a>
                  </td>
                  <td>Composite</td>
                  <td>pCold-VSW-3 RNAPN-NpuN</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </div>

</main>

<script>
    $(function () {
        $("[data-toggle='popover']").popover({
            animation: true,
            html: true,//content中插入html代码
            container: "body",
            content: "<img src='https://static.igem.wiki/teams/4907/wiki/footer-icon/qrcode.jpg'>",//插入图片的路径 及 样式
        });
    });
</script>


{% endblock %}