{% extends "layout.html" %}

{% block title %}Parts{% endblock %}

{% block page_content %}
<meta name="format-detection" content="telephone=no" />

<main style="overflow:hidden">
  <!--loading-->
  <!-- <div id="loader-wrapper">
    <div id="loader">
      <div class="loader-img">
        <img src="https://static.igem.wiki/teams/4907/wiki/background/loading.png">
      </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div> -->

  <!--Magic-navbar-->
  <div class="myScrollspy">
    <div class="left-bar">
      <div class="left-bar-right">
        <div class="left-bar-right-item">
          <a href="#section1" class="sidebar-link" data-section="section1">Overview</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section2" class="sidebar-link" data-section="section2">Basic Parts</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section3" class="sidebar-link" data-section="section3">Composite Parts</a>
        </div>
      </div>
    </div>
    <div class="left-bar-bg">
      <img src="https://static.igem.wiki/teams/5136/cbl-img.png" alt="">
    </div>
    <div class="scroll-bar"></div>
  </div>

  <!--content-->
  <div class="myPage">
    <!-- <div class="myPage-padding"></div> -->
    <div class="myPage-main">
      <div style="height: 100px;position:relative;"></div>
      <div class="myPage-main-content" style="text-align: justify">
        <div class="myPage-headline">
          <h1 class="myPage-headline-content">
            <span style="color: #867a77">.</span>
            <span style="color: #483b53;font-family: Aaargh;">Parts</span>
            <span style="color: #867a77">.</span>
          </h1>
          <div class="myPage-headline-divider"></div>
        </div>
        <div class="myPage-paragraph" id="section1">
          <h2 class="myPage-paragraph-headline-h2">
            Overview
          </h2>
          <div class="myPage-paragraph-table-div">
            <div class="myPage-paragraph-content">
              This year, among the 79 parts designed, 57 of them are basic parts and the rest are composite parts. All
              of them are designed by ourselves, and most of them have been tested to insure their reliability. You can
              click <a style="font-weight: bolder;text-decoration: none;"
                href="{{ url_for('pages', page='design') }}">here</a> to learn more about our project to see their
              specific functions, or click on the part numbers when browse website.
            </div>
          </div>
        </div>
        <!---Basic Parts--->
        <div class="myPage-paragraph" id="section2">
          <h2 class="myPage-paragraph-headline-h2">
            Basic Parts
          </h2>
          <div class="myPage-paragraph-content">
            Among the 57 basic parts designed this year, <a style="font-weight: bolder;text-decoration: none;"
              href="http://parts.igem.org/Part:BBa_K5136003">BBa_K5136003</a> is our favorite one that codes CYP199A4
            T253A-his tag. Among all of monooxygenases we tested, the monooxygenase encoded by this gene has the best
            deinking effect. This monooxygenase can exhibit
            excellent performance in related research conducted by other researchers and iGEM teams. Besides, many other
            basic parts have also been designed to construct our project.
          </div>
          <div class="myPage-paragraph-table-div" style="text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th>Favorite</th>
                  <th style="width:20%;">Name</th>
                  <th>Type</th>
                  <th style="width:50%;">Description</th>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136000">BBa_K5136000</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 WT</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136001">BBa_K5136001</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253E</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136002">BBa_K5136002</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253S</i>-his tag</td>
                </tr>
                <tr>
                  <td>
                    <img src="https://static.igem.wiki/teams/5136/parts-table-icon/jt.png" slt="">
                  </td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136003">BBa_K5136003</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253A</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136004">BBa_K5136004</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253R</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136005">BBa_K5136005</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253N</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136006">BBa_K5136006</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253D</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136007">BBa_K5136007</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253C</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136008">BBa_K5136008</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253Q</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136009">BBa_K5136009</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253W</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136010">BBa_K5136010</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253G</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136011">BBa_K5136011</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253H</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136012">BBa_K5136012</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253I</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136013">BBa_K5136013</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253L</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136014">BBa_K5136014</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253K</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136015">BBa_K5136015</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253M</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136016">BBa_K5136016</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253F</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136017">BBa_K5136017</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253P</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136018">BBa_K5136018</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253V</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136019">BBa_K5136019</a></td>
                  <td>coding</td>
                  <td><i>CYP199A4 T253Y</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136020">BBa_K5136020</a></td>
                  <td>coding</td>
                  <td><i>SfmD WT</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136021">BBa_K5136021</a></td>
                  <td>coding</td>
                  <td><i>SfmD 277F</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136022">BBa_K5136022</a></td>
                  <td>coding</td>
                  <td><i>TyrH</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136023">BBa_K5136023</a></td>
                  <td>coding</td>
                  <td><i>OleTJE</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136024">BBa_K5136024</a></td>
                  <td>coding</td>
                  <td><i>OleTJE 236ser 100lys 166lys</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136025">BBa_K5136025</a></td>
                  <td>coding</td>
                  <td>OleTJE 236ser 360lys 167lys</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136026">BBa_K5136026</a></td>
                  <td>coding</td>
                  <td><i>cellulase EG5C</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136027">BBa_K5136027</a></td>
                  <td>coding</td>
                  <td><i>laccase</i>-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136028">BBa_K5136028</a></td>
                  <td>coding</td>
                  <td><i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136029">BBa_K5136029</a></td>
                  <td>coding</td>
                  <td>FhuD-TSS linker-<i>T7 lysozyme 119V</i>-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136030">BBa_K5136030</a></td>
                  <td>coding</td>
                  <td>FhuD-TSS linker-<i>T7 lysozyme 119G</i>-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136031">BBa_K5136031</a></td>
                  <td>coding</td>
                  <td>FhuD-GGG linker-<i>T7 lysozyme 119V</i>-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136032">BBa_K5136032</a></td>
                  <td>coding</td>
                  <td>FhuD-GGG linker-<i>T7 lysozyme 119G</i>-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136033">BBa_K5136033</a></td>
                  <td>coding</td>
                  <td>LMT - GGG linker-<i>T7 lysozyme 119G</i>-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136034">BBa_K5136034</a></td>
                  <td>coding</td>
                  <td>his tag-spytag-<i>gfpFasta</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136035">BBa_K5136035</a></td>
                  <td>coding</td>
                  <td>inpnc-his tag-spycatcher</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136036">BBa_K5136036</a></td>
                  <td>coding</td>
                  <td><i>mt3</i>-linker</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136037">BBa_K5136037</a></td>
                  <td>coding</td>
                  <td><i>mt3</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136038">BBa_K5136038</a></td>
                  <td>coding</td>
                  <td><i>mt2a</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136039">BBa_K5136039</a></td>
                  <td>coding</td>
                  <td><i>mnta</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136040">BBa_K5136040</a></td>
                  <td>coding</td>
                  <td><i>gst</i>-linker</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136041">BBa_K5136041</a></td>
                  <td>coding</td>
                  <td><i>crs5</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136042">BBa_K5136042</a></td>
                  <td>coding</td>
                  <td><i>LexRO</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136043">BBa_K5136043</a></td>
                  <td>regulatory</td>
                  <td>pHybrid 2)-114 version</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136044">BBa_K5136044</a></td>
                  <td>regulatory</td>
                  <td>pColE408-RBS</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136045">BBa_K5136045</a></td>
                  <td>RBS</td>
                  <td><i>SD7</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136046">BBa_K5136046</a></td>
                  <td>plasmid</td>
                  <td>pSB4A5 (with pColE408-aca2)</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136048">BBa_K5136048</a></td>
                  <td>coding</td>
                  <td>inpnc-linker</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136050">BBa_K5136050</a></td>
                  <td>coding</td>
                  <td>Algen-his tag-linker-<i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136052">BBa_K5136052</a></td>
                  <td>coding</td>
                  <td>OmpA-his tag-linker-<i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136053">BBa_K5136053</a></td>
                  <td>coding</td>
                  <td>PelB-his tag-linker-<i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136054">BBa_K5136054</a></td>
                  <td>coding</td>
                  <td>TorA-his tag-linker-<i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136055">BBa_K5136055</a></td>
                  <td>coding</td>
                  <td>YebF-his tag-linker-<i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136056">BBa_K5136056</a></td>
                  <td>coding</td>
                  <td>LMT-his tag-linker-<i>sfgfp</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136057">BBa_K5136057</a></td>
                  <td>coding</td>
                  <td><i>rfbD</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136058">BBa_K5136058</a></td>
                  <td>coding</td>
                  <td><i>rhlA</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136059">BBa_K5136059</a></td>
                  <td>coding</td>
                  <td><i>rhlB</i></td>
                </tr>



              </tbody>
            </table>
          </div>
        </div>
        <div class="myPage-paragraph" id="section3">
          <!---Composite Parts--->
          <h2 class="myPage-paragraph-headline-h2">
            Composite Parts
          </h2>
          <div class="myPage-paragraph-content">
            We have designed a series of composite parts this year, and most of them could be useful tools for our
            design. Our favorite composite part is <a style="font-weight: bolder;text-decoration: none;"
              href="http://parts.igem.org/Part:BBa_K5136202">BBa_K5136202</a>. This composite part demonstrates that the
            combination
            of the promoter J23104 and the signal peptide LMT can achieve the best secretion effect, providing strong
            support for using signal peptide to obtain the deinking enzymes in our project.
          </div>
          <div class="myPage-paragraph-table-div" style="padding-bottom: 60px;text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th>Favorite</th>
                  <th style="width:20%;">Name</th>
                  <th>Type</th>
                  <th style="width:50%;">Description</th>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136200">BBa_K5136200</a></td>
                  <td>composite</td>
                  <td>J23100-RiboJ-B0034-LMT-linker-<i>sfgfp</i>-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136201">BBa_K5136201</a></td>
                  <td>composite</td>
                  <td>J23103-RiboJ-B0034-LMT-linker-<i>sfgfp</i>-B0010</td>
                </tr>
                <tr>
                  <td>
                    <img src="https://static.igem.wiki/teams/5136/parts-table-icon/jt.png" slt="">
                  </td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136202">BBa_K5136202</a></td>
                  <td>composite</td>
                  <td>J23104-RiboJ-B0034-LMT-linker-<i>sfgfp</i>-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136203">BBa_K5136203</a></td>
                  <td>composite</td>
                  <td>J23106-RiboJ-B0034-LMT-linker-<i>sfgfp</i>-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136204">BBa_K5136204</a></td>
                  <td>composite</td>
                  <td>J23110-RiboJ-B0034-LMT-linker-<i>sfgfp</i>-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136205">BBa_K5136205</a></td>
                  <td>composite</td>
                  <td>J23114-RiboJ-B0034-LMT-linker-<i>sfgfp</i>-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136219">BBa_K5136219</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-FhuD-TSS linker-<i>T7 lysozyme 119V</i>-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136220">BBa_K5136220</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-FhuD-TSS linker-<i>T7 lysozyme 119G</i>-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136221">BBa_K5136221</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-FhuD-GGG linker-<i>T7 lysozyme 119V</i>-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136222">BBa_K5136222</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-FhuD-GGG linker-<i>T7 lysozyme 119G</i>-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136223">BBa_K5136223</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-LMT-GGG linker-<i>T7 lysozyme 119G</i>-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136224">BBa_K5136224</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-inpnc-his tag-spycatcher-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136225">BBa_K5136225</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-<i>mnta-B0015</i></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136226">BBa_K5136226</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-inpnc-linker-<i>mt3</i>-linker-<i>mt2a</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136227">BBa_K5136227</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-<i>gst</i>-linker-<i>mt3</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136228">BBa_K5136228</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-<i>gst</i>-linker-<i>mt2a</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136229">BBa_K5136229</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-<i>gst</i>-linker-<i>crs5</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136230">BBa_K5136230</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-<i>mt3</i>-B0034-<i>mt2a</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136231">BBa_K5136231</a></td>
                  <td>composite</td>
                  <td>J23106-<i>SD7-LexRO</i>-B0015-pColE408-<i>ccdB</i>-B0014-pHybrid 2)-114 version-B0034-ccdA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136232">BBa_K5136232</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-<i>rhlA</i>-B0034-<i>rhlB</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136233">BBa_K5136233</a></td>
                  <td>composite</td>
                  <td>J23100-<i>rfbD</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K1166002">BBa_K1166002</a></td>
                  <td>composite</td>
                  <td>HlyA-tag+Secretion system</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

<script>
  $(function () {
    $("[data-toggle='popover']").popover({
      animation: true,
      html: true,//content中插入html代码
      container: "body",
      content: "<img src='https://static.igem.wiki/teams/4907/wiki/footer-icon/qrcode.jpg'>",//插入图片的路径 及 样式
    });
  });
</script>


{% endblock %}