{% extends "layout.html" %}

{% block title %}Parts{% endblock %}

{% block page_content %}
<meta name="format-detection" content="telephone=no" />

<main style="overflow:hidden">
  <!--loading-->
  <!-- <div id="loader-wrapper">
    <div id="loader">
      <div class="loader-img">
        <img src="https://static.igem.wiki/teams/4907/wiki/background/loading.png">
      </div>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div> -->

  <!--Magic-navbar-->
  <div class="myScrollspy">
    <div class="left-bar">
      <div class="left-bar-right">
        <div class="left-bar-right-item">
          <a href="#section1" class="sidebar-link" data-section="section1">Overview</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section2" class="sidebar-link" data-section="section2">Basic Parts</a>
        </div>
        <div class="left-bar-right-item">
          <a href="#section3" class="sidebar-link" data-section="section3">Composite Parts</a>
        </div>
      </div>
    </div>
    <div class="left-bar-bg">
      <img src="https://static.igem.wiki/teams/5136/cbl-img.png" alt="">
    </div>
    <div class="scroll-bar"></div>
  </div>

  <!--content-->
  <div class="myPage">
    <!-- <div class="myPage-padding"></div> -->
    <div class="myPage-main">
      <div style="height: 100px;position:relative;"></div>
      <div class="myPage-main-content" style="text-align: justify">
        <div class="myPage-headline">
          <h1 class="myPage-headline-content">
            <span style="color: #867a77">.</span>
            <span style="color: #483b53;font-family: Aaargh;">Parts</span>
            <span style="color: #867a77">.</span>
          </h1>
          <div class="myPage-headline-divider"></div>
        </div>
        <div class="myPage-paragraph" id="section1">
          <h2 class="myPage-paragraph-headline-h2">
            1.Overview
          </h2>
          <div class="myPage-paragraph-table-div">
            <div class="myPage-paragraph-content">
              This year, among the 93 parts designed, 44 of them are basic parts and the rest are composite parts. All
              of them are designed by ourselves, and most of them have been tested to insure their reliability. You can
              click <a style="font-weight: bolder;text-decoration: none;"
                href="{{ url_for('pages', page='design') }}">here</a>
              to learn more about our project to see their specific functions, or click on the part numbers
              when browse website.
            </div>
          </div>
        </div>
        <!---Basic Parts--->
        <div class="myPage-paragraph" id="section2">
          <h2 class="myPage-paragraph-headline-h2">
            2.Basic Parts
          </h2>
          <div class="myPage-paragraph-content">
            Among the 44 basic parts designed this year, <a style="font-weight: bolder;text-decoration: none;"
              href="http://parts.igem.org/Part:BBa_K4907010">BBa_K4907016</a> is our favorite one that codes VSW-3 RNA
            Polymerase (VSW-3 RNAP). This gene not only realizes our AND gate design successfully, but also shows
            particular talent in low-temperature expression systems. This excellent coding sequence companied with its
            corresponding promoters will be a novel and prospective tool for other researchers and teams. Besides, many
            other basic parts have also been designed to construct our project.
          </div>
          <div class="myPage-paragraph-table-div" style="text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th>Favorite</th>
                  <th style="width:20%;">Name</th>
                  <th>Type</th>
                  <th style="width:50%;">Description</th>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K3512001">BBa_K3512001</a></td>
                  <td>coding</td>
                  <td>ccdB</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K4907032">BBa_K4907032</a></td>
                  <td>coding</td>
                  <td>ccdA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_I0500">BBa_I0500</a></td>
                  <td>regulatory</td>
                  <td>I0500</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_B0034">BBa_B0034</a></td>
                  <td>RBS</td>
                  <td>B0034</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_B0015">BBa_B0015</a></td>
                  <td>regulatory</td>
                  <td>B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_J23100">BBa_J23100</a></td>
                  <td>regulatory</td>
                  <td>J23100</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_J23106">BBa_J23106</a></td>
                  <td>regulatory</td>
                  <td>J23106</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_B0014">BBa_B0014</a></td>
                  <td>regulatory</td>
                  <td>B0014</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136000">BBa_K5136000</a></td>
                  <td>coding</td>
                  <td>CYP199A4 WT-his tag （1）</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136001">BBa_K5136001</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253E-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136002">BBa_K5136002</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253S-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136003">BBa_K5136003</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253A-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136004">BBa_K5136004</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253R-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136005">BBa_K5136005</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253N-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136006">BBa_K5136006</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253D-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136007">BBa_K5136007</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253C-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136008">BBa_K5136008</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253Q-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136009">BBa_K5136009</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253W-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136010">BBa_K5136010</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253G-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136011">BBa_K5136011</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253H-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136012">BBa_K5136012</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253I-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136013">BBa_K5136013</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253L-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136014">BBa_K5136014</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253K-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136015">BBa_K5136015</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253M-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136016">BBa_K5136016</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253F-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136017">BBa_K5136017</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253P-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136018">BBa_K5136018</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253V-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136019">BBa_K5136019</a></td>
                  <td>coding</td>
                  <td>CYP199A4 T253Y-his tag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136020">BBa_K5136020</a></td>
                  <td>coding</td>
                  <td>SfmD WT</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136021">BBa_K5136021</a></td>
                  <td>coding</td>
                  <td>SfmD 277F</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136022">BBa_K5136022</a></td>
                  <td>coding</td>
                  <td>TyrH-histag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136023">BBa_K5136023</a></td>
                  <td>coding</td>
                  <td>OleTJE</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136024">BBa_K5136024</a></td>
                  <td>coding</td>
                  <td>OleTJE 236ser 100lys 166lys</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136025">BBa_K5136025</a></td>
                  <td>coding</td>
                  <td>OleTJE 236ser 360lys 167lys</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136026">BBa_K5136026</a></td>
                  <td>coding</td>
                  <td>cellulase-histag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136027">BBa_K5136027</a></td>
                  <td>coding</td>
                  <td>laccase-histag</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136028">BBa_K5136028</a></td>
                  <td>coding</td>
                  <td>superfolder GFP(sfgfp)</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136029">BBa_K5136029</a></td>
                  <td>coding</td>
                  <td>FhuD-TSS linker-T7 lysozyme 119V-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136030">BBa_K5136030</a></td>
                  <td>coding</td>
                  <td>FhuD-TSS linker-T7 lysozyme 119G-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136031">BBa_K5136031</a></td>
                  <td>coding</td>
                  <td>FhuD-GGG linker-T7 lysozyme 119V-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136032">BBa_K5136032</a></td>
                  <td>coding</td>
                  <td>FhuD-GGG linker-T7 lysozyme 119G-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136033">BBa_K5136033</a></td>
                  <td>coding</td>
                  <td>LMT - GGG linker-T7 lysozyme 119G-SsrA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136034">BBa_K5136034</a></td>
                  <td>coding</td>
                  <td>histag-spytag-gfpFasta</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136035">BBa_K5136035</a></td>
                  <td>coding</td>
                  <td>inpnc-histag-spycatcher</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136036">BBa_K5136036</a></td>
                  <td>coding</td>
                  <td>mt3-linker</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136037">BBa_K5136037</a></td>
                  <td>coding</td>
                  <td>mt3</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136038">BBa_K5136038</a></td>
                  <td>coding</td>
                  <td>mt2a</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136039">BBa_K5136039</a></td>
                  <td>coding</td>
                  <td>mnta</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136040">BBa_K5136040</a></td>
                  <td>coding</td>
                  <td>gst-linker</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136041">BBa_K5136041</a></td>
                  <td>coding</td>
                  <td>crs5</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136042">BBa_K5136042</a></td>
                  <td>coding</td>
                  <td>LexRO</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136043">BBa_K5136043</a></td>
                  <td>regulatory</td>
                  <td>pHybrid 2)-114 version</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136044">BBa_K5136044</a></td>
                  <td>regulatory</td>
                  <td>pColE408-RBS</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136045">BBa_K5136045</a></td>
                  <td>RBS</td>
                  <td>SD7 </td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136046">BBa_K5136046</a></td>
                  <td>plasmid</td>
                  <td>pSB4A5 (with pColE408-aca2)</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136047">BBa_K5136047</a></td>
                  <td>regulatory</td>
                  <td>RiboJ</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136048">BBa_K5136048</a></td>
                  <td>coding</td>
                  <td>inpnc-linker</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136050">BBa_K5136050</a></td>
                  <td>coding</td>
                  <td>Algen-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136051">BBa_K5136051</a></td>
                  <td>coding</td>
                  <td>Aly01-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136052">BBa_K5136052</a></td>
                  <td>coding</td>
                  <td>OmpA-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136053">BBa_K5136053</a></td>
                  <td>coding</td>
                  <td>PelB-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136054">BBa_K5136054</a></td>
                  <td>coding</td>
                  <td>TorA-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136055">BBa_K5136055</a></td>
                  <td>coding</td>
                  <td>YebF-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136056">BBa_K5136056</a></td>
                  <td>coding</td>
                  <td>LMT-his tag-linker-sfgfp</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136057">BBa_K5136057</a></td>
                  <td>coding</td>
                  <td>rfbD</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136058">BBa_K5136058</a></td>
                  <td>coding</td>
                  <td>rhlA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136059">BBa_K5136059</a></td>
                  <td>coding</td>
                  <td>rhlB</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
        <div class="myPage-paragraph" id="section3">
          <!---Composite Parts--->
          <h2 class="myPage-paragraph-headline-h2">
            3.Composite Parts
          </h2>
          <div class="myPage-paragraph-content">
            We have designed a series of composite parts this year, and most of them could be useful tools for our
            design. And our favorite composite part is <a style="font-weight: bolder;text-decoration: none;"
              href="http://parts.igem.org/Part:BBa_K4907110">BBa_K4907114</a>,
            which contains the sequence of VSW-3 RNAP to
            activate target genes' expression.
          </div>
          <div class="myPage-paragraph-table-div" style="padding-bottom: 60px;text-align: center">
            <table class="myPage-paragraph-table">
              <tbody>
                <tr>
                  <th>Favorite</th>
                  <th style="width:20%;">Name</th>
                  <th>Type</th>
                  <th style="width:50%;">Description</th>
                </tr>
                <tr>
                  <td>
                    <img src="https://static.igem.wiki/teams/5136/parts-table-icon/jt.png" slt="">
                  </td>
                  <td>
                    <a target="_blank" href="http://parts.igem.org/Part:BBa_K4907110">BBa_K4907114</a>
                  </td>
                  <td>Composite</td>
                  <td>I0500-B0034-VSW-3 <i>rnap</i>-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136200">BBa_K5136200</a></td>
                  <td>composite</td>
                  <td>J23100-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136201">BBa_K5136201</a></td>
                  <td>composite</td>
                  <td>J23101-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136202">BBa_K5136202</a></td>
                  <td>composite</td>
                  <td>J23102-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136203">BBa_K5136203</a></td>
                  <td>composite</td>
                  <td>J23103-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136204">BBa_K5136204</a></td>
                  <td>composite</td>
                  <td>J23104-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136205">BBa_K5136205</a></td>
                  <td>composite</td>
                  <td>J23105-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136206">BBa_K5136206</a></td>
                  <td>composite</td>
                  <td>J23106-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136207">BBa_K5136207</a></td>
                  <td>composite</td>
                  <td>J23107-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136208">BBa_K5136208</a></td>
                  <td>composite</td>
                  <td>J23108-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136209">BBa_K5136209</a></td>
                  <td>composite</td>
                  <td>J23109-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136210">BBa_K5136210</a></td>
                  <td>composite</td>
                  <td>J23110-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136211">BBa_K5136211</a></td>
                  <td>composite</td>
                  <td>J23111-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136212">BBa_K5136212</a></td>
                  <td>composite</td>
                  <td>J23113-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136213">BBa_K5136213</a></td>
                  <td>composite</td>
                  <td>J23114-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136214">BBa_K5136214</a></td>
                  <td>composite</td>
                  <td>J23115-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136215">BBa_K5136215</a></td>
                  <td>composite</td>
                  <td>J23116-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136216">BBa_K5136216</a></td>
                  <td>composite</td>
                  <td>J23117-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136217">BBa_K5136217</a></td>
                  <td>composite</td>
                  <td>J23118-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136218">BBa_K5136218</a></td>
                  <td>composite</td>
                  <td>J23119-RiboJ-B0034-LMT-linker-sfgfp-B0010</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136219">BBa_K5136219</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-FhuD-TSS linker-T7 lysozyme 119V-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136220">BBa_K5136220</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-FhuD-TSS linker-T7 lysozyme 119G-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136221">BBa_K5136221</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-FhuD-GGG linker-T7 lysozyme 119V-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136222">BBa_K5136222</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-FhuD-GGG linker-T7 lysozyme 119G-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136223">BBa_K5136223</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-LMT-GGG linker-T7 lysozyme 119G-SsrA-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136224">BBa_K5136224</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-inpnc-histag-spycatcher-B0015 </td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136225">BBa_K5136225</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-mnta-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136226">BBa_K5136226</a></td>
                  <td>composite</td>
                  <td>I05000-B0034-inpnc-linker-mt3-linker-mt2a-B0015 </td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136227">BBa_K5136227</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-gst-linker-mt3-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136228">BBa_K5136228</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-gst-linker-mt2a-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136229">BBa_K5136229</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-gst-linker-crs5-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136230">BBa_K5136230</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-mt3-B0034-mt2a-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136231">BBa_K5136231</a></td>
                  <td>composite</td>
                  <td>J23106-SD7-LexRO-B0015-pColE408-ccdB-B0014-pHybrid 2)-114 version-B0034-ccdA</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136232">BBa_K5136232</a></td>
                  <td>composite</td>
                  <td>I0500-B0034-rhlA-B0034-rhlB-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K5136233">BBa_K5136233</a></td>
                  <td>composite</td>
                  <td>J23100-rfbD-B0015</td>
                </tr>
                <tr>
                  <td></td>
                  <td><a target="_blank" href="http://parts.igem.org/Part:BBa_K1460002">BBa_K1460002</a></td>
                  <td>nan</td>
                  <td>nan</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

<script>
  $(function () {
    $("[data-toggle='popover']").popover({
      animation: true,
      html: true,//content中插入html代码
      container: "body",
      content: "<img src='https://static.igem.wiki/teams/4907/wiki/footer-icon/qrcode.jpg'>",//插入图片的路径 及 样式
    });
  });
</script>


{% endblock %}